{
  "log": {
    "_recordingName": "contract",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "c2096453eddb7acb57361c1577cdc1cd",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/contracts/0x744d70fdbe2ba4cf95131626614a1763df805b9e/source-code?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 69455,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":\"pragma solidity ^0.4.11;\\n\\n\\n/// @dev `Owned` is a base level contract that assigns an `owner` that can be\\n///  later changed\\ncontract Owned {\\n\\n    /// @dev `owner` is the only address that can call a function with this\\n    /// modifier\\n    modifier onlyOwner() {\\n        require(msg.sender == owner);\\n        _;\\n    }\\n\\n    address public owner;\\n\\n    /// @notice The Constructor assigns the message sender to be `owner`\\n    function Owned() {\\n        owner = msg.s[...]
