{
  "log": {
    "_recordingName": "contract",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "8ffe224e8a37fbb3ace48a1e5d51c69d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/contracts/0x06012c8cf97bead5deae237070f9587f8e7a266e?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 75,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "f0431366-ee51-46a0-a3f3-f972c02b78ee"
            },
            {
              "name": "x-response-time",
              "value": "638.438ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "75"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BOyG-ERZIAMFvTg="
            },
            {
              "name": "etag",
              "value": "W/\"4b-CF6cAMu50AuzLonS1lkcvIeHGCE\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 08 Oct 2019 06:45:39 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1365,
      },
      {
        "_id": "857c834e0ac799fbffa3313c70876c68",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/contracts/0x744d70fdbe2ba4cf95131626614a1763df805b9e/functions?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 10259,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"constant\":true,\"inputs\":[],\"name\":\"name\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"type\":\"function\",\"textSignature\":\"name()\",\"hexadecimalSignature\":\"0x06fdde03\",\"fullHexadecimalSignature\":\"0x06fdde0383f15d582d1a74511486c9ddf862a882fb7904b3d9fe9b8b8e58a796\"},{\"constant\":false,\"inputs\":[{\"name\":\"_spender\",\"type\":\"address\"},{\"name\":\"_amount\",\"type\":\"uint256\"}],\"name\":\"approve\",\"outputs\":[{\"name\":\"success\",\"type\":\"bool\"}],\"payable\":false,\"type\":\"function\",\"textSignature\":\"approve(address,uint256)\",\"hexadecimalSignature\":\"0x095ea7b3\",\"fullHexadecimalSignature\":\"0x095ea7b334ae44009aa867bfb386f5c3b4b443ac6f0ee573fa91c4608fbadfba\"},{\[...]
