{
  "log": {
    "_recordingName": "contract",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "fcb781cf1390595dbf1d3620aeb71850",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/contracts/0x514910771af9ca656af840dff83e8264ecf986ca/source-code?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9179,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":\"pragma solidity ^0.4.16;\\n\\n\\n/**\\n * @title SafeMath\\n * @dev Math operations with safety checks that throw on error\\n */\\nlibrary SafeMath {\\n  function mul(uint256 a, uint256 b) internal constant returns (uint256) {\\n    uint256 c = a * b;\\n    assert(a == 0 || c / a == b);\\n    return c;\\n  }\\n\\n  function div(uint256 a, uint256 b) internal constant returns (uint256) {\\n    // assert(b > 0); // Solidity automatically throws when dividing by 0\\n    uint256 c = a / b;\\n    /[...]
