{
  "log": {
    "_recordingName": "market",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "0ad4a940a669c5c302e612c673b63606",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/market/tokens/prices/0x744d70fdbe2ba4cf95131626614a1763df805b9e/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 919,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"address\":\"0x744d70fdbe2ba4cf95131626614a1763df805b9e\",\"circulatingSupply\":\"6804870174.8781682461988376\",\"dailyPercentChangeETH\":\"-2.774380656207414654600100\",\"dailyPercentChangeUSD\":\"-1.38806413301662707800\",\"dailyVolumeETH\":\"74.27013731812500000000000000\",\"dailyVolumeUSD\":\"367.34303027628000000000000000\",\"hourlyPercentChangeETH\":\"0.064731902039054914230200\",\"hourlyPercentChangeUSD\":\"0.11303692539562923900\",\"isCrossRates\":false,\"marketCapETH\":\"473363.7815399625786262066405500000000000000000\",\"marketCapUSD\":\"90402700.273256465150751557516000000000000000\",\"name\":\"Status\",\"priceETH\":\"0.000069562500000000000000\",\"priceUSD\":\"0.01328500000000000000\",\"symbol\":\"SNT\",\"totalSupply\":\"6804870174.8781682461988376\",\"weeklyPercentChangeETH\":\"-2.828706128863279203771600\",\"weeklyPercentChangeUSD\":\"6.18867773714605439300\",\"timestamp\":1570750560000}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "c38d32ad-fba9-4018-8f81-f33df4babda8"
            },
            {
              "name": "x-response-time",
              "value": "24.124ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "919"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BXtQ0ECEoAMFzdw="
            },
            {
              "name": "etag",
              "value": "W/\"397-4V4yLD02vFBD85UROLxfGRIzvQI\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Thu, 10 Oct 2019 23:44:43 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 373,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
