{
  "log": {
    "_recordingName": "market",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "39c618cb7e87d3d3e90c8d09493b3911",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "exchange",
              "value": "gdax"
            }
          ],
          "url": "https://web3api.io/api/v2/market/ohlcv/information?exchange=gdax&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 3001,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"gdax\":{\"bat_usdc\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1541376000000,\"endDate\":1570838400000},\"bch_btc\":{\"startDate\":1516147200000,\"endDate\":1570838400000},\"bch_eur\":{\"startDate\":1516752000000,\"endDate\":1570838400000},\"bch_gbp\":{\"startDate\":1536278400000,\"endDate\":1570838400000},\"bch_usd\":{\"startDate\":1513728000000,\"endDate\":1570838400000},\"btc_eur\":{\"startDate\":1429747200000,\"endDate\":1570838400000},\"btc_gbp\":{\"startDate\":1429574400000,\"endDate\":1570838400000},\"btc_usd\":{\"startDate\":1417392000000,\"endDate\":1570838400000},\"btc_usdc\":{\"startDate\":1540512000000,\"endDate\":1570838400000},\"cvc_usdc\":{\"address\":\"0x41e5560054824ea6b0732e656e3ad64e20e94e45\",\"startDate\":1544400000000,\"endDate\":1562025600000},\"dai_usdc\":{\"address\":\"0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359\",\"startDate\":1545177600000,\"endDate\":1570838400000},\"dnt_usdc\":{\"address\":\"0x0abdace70d3790235af448c88547603b945604ea\",\"startDate\":1544400000000,\"endDate\":1562371200000},\"etc_btc\":{\"startDate\":1533686400000,\"endDate\":1570838400000},\"etc_eur\":{\"startDate\":1533686400000,\"endDate\":1570838400000},\"etc_gbp\":{\"startDate\":1536278400000,\"endDate\":1570838400000},\"etc_usd\":{\"startDate\":1533686400000,\"endDate\":1570838400000},\"eth_btc\":{\"startDate\":1463529600000,\"endDate\":1570838400000},\"eth_eur\":{\"startDate\":1495497600000,\"endDate\":1570838400000},\"eth_gbp\":{\"startDate\":1536278400000,\"endDate\":1570838400000},\"eth_usd\":{\"startDate\":1463529600000,\"endDate\":1570838400000},\"eth_usdc\":{\"startDate\":1540512000000,\"endDate\":1570838400000},\"gnt_usdc\":{\"address\":\"0xa74476443119a942de498590fe1f2454d7d4ac0d\",\"startDate\":1545177600000,\"endDate\":1563062400000},\"loom_usdc\":{\"address\":\"0xa4e8c3ec456107ea67d3075bf9e3df3a75823db0\",\"startDate\":1544400000000,\"endDate\":1562025600000},\"ltc_btc\":{\"startDate\":1471392000000,\"endDate\":1570838400000},\"ltc_eur\":{\"startDate\":1495411200000,\"endDate\":1570838400000},\"ltc_gbp\":{\"startDate\":1536278400000,\"endDate\":1570838400000},\"ltc_usd\":{\"startDate\":1471392000000,\"endDate\":1570838400000},\"mana_usdc\":{\"address\":\"0x0f5d2fb29fb7d3cfee444a200298f468908cc942\",\"startDate\":1544400000000,\"endDate\":1570838400000},\"xlm_btc\":{\"startDate\":1552521600000,\"endDate\":1570838400000},\"xlm_eur\":{\"startDate\":1552521600000,\"endDate\":1570838400000},\"xlm_usd\":{\"startDate\":1552521600000,\"endDate\":1570838400000},\"xrp_btc\":{\"startDate\":1551139200000,\"endDate\":1570838400000},\"xrp_eur\":{\"startDate\":1551139200000,\"endDate\":1570838400000},\"xrp_usd\":{\"startDate\":1551139200000,\"endDate\":1570838400000},\"zec_usdc\":{\"startDate\":1543536000000,\"endDate\":1570838400000},\"zrx_btc\":{\"address\":\"0xe41d2489571d322189246dafa5ebde1f4699f498\",\"startDate\":1539302400000,\"endDate\":1570838400000},\"zrx_eur\":{\"address\":\"0xe41d2489571d322189246dafa5ebde1f4699f498\",\"startDate\":1539302400000,\"endDate\":1570838400000},\"zrx_usd\":{\"address\":\"0xe41d2489571d322189246dafa5ebde1f4699f498\",\"startDate\":1539302400000,\"endDate\":1570838400000}}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "5c7a78bb-baff-4b27-adda-6d48debb5384"
            },
            {
              "name": "x-response-time",
              "value": "8.153ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "3001"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BbPY-ErWoAMF4rw="
            },
            {
              "name": "etag",
              "value": "W/\"bb9-EYMNnnUYq2gCOObiMpRwU+zFb8Q\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Sat, 12 Oct 2019 01:28:25 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 341,
      },
      {
        "_id": "d7de2d23d35b787cb3daeed3aca3e939",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/market/ohlcv/eth_btc/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 667,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"binance\":{\"timestamp\":1570843860000,\"open\":0.02198,\"high\":0.021982,\"low\":0.021975,\"close\":0.021981,\"volume\":110.232},\"bitfinex\":{\"timestamp\":1570843920000,\"open\":0.021989,\"high\":0.021995,\"low\":0.021981,\"close\":0.021995,\"volume\":64.47636408},\"gdax\":{\"timestamp\":1570843920000,\"open\":0.02198,\"high\":0.02198,\"low\":0.02198,\"close\":0.02198,\"volume\":0.2553059},\"huobi\":{\"timestamp\":1570843800000,\"open\":0.021969,\"high\":0.02199,\"low\":0.021966,\"close\":0.021979,\"volume\":57.6428},\"poloniex\":{\"timestamp\":1570843200000,\"open\":0.021945,\"high\":0.021945,\"low\":0.021945,\"close\":0.021945,\"volume\":0.000005}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "2[...]
