{
  "log": {
    "_recordingName": "market",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "5394b95d205bc7730b5f0b95bac62a10",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "exchange",
              "value": "gdax"
            }
          ],
          "url": "https://web3api.io/api/v2/market/tickers/eth_btc/latest?exchange=gdax&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 167,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"gdax\":{\"timestamp\":1580432640000,\"bid\":0.01942,\"ask\":0.01943,\"mid\":0.019425,\"last\":0.01942}}}"
          },
            {
              "expires": "2020-02-07T01:04:55.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "noJmMb+XR9DMZzbzsUEIxCIW870nWLYbPo/DaG24+r0nIHPJEn5+myqtVaTa9rifYITgeaBm6jSJpFlINZenRCxdV1QJ42x2Yfxq822kk9F1NkQPjDSkZy1tYBCS"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "dec8fb82-18f9-4100-b636-b12e59a6a922"
            },
            {
              "name": "x-response-time",
              "value": "6.286ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "167"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HJCAoHyXoAMF6Lw="
            },
            {
              "name": "etag",
              "value": "W/\"a7-wIhVR18pohAO5rgjdShsOhwJgxw\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 31 Jan 2020 01:04:55 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 674,
      },
      {
        "_id": "0c95cae5fb24f46ef7728c9f06bd8712",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/market/trades/information?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 191998,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"binance\":{\"ada_bnb\":{\"startDate\":1523923200000,\"endDate\":1580428800000},\"ada_btc\":{\"startDate\":1512000000000,\"endDate\":1580428800000},\"ada_busd\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"ada_eth\":{\"startDate\":1512000000000,\"endDate\":1580428800000},\"ada_pax\":{\"startDate\":1554163200000,\"endDate\":1580428800000},\"ada_tusd\":{\"startDate\":1545177600000,\"endDate\":1580428800000},\"ada_usdc\":{\"startDate\":1553904000000,\"endDate\":1580428800000},\"ada_usdt\":{\"startDate\":1523923200000,\"endDate\":1580428800000},\"adx_bnb\":{\"address\":\"0x4470bb87d77b963a013db939be332f927f2b992e\",\"startDate\":1512000000000,\"endDate\":1575417600000},\"adx_btc\":{\"address\":\"0x4470bb87d77b963a013db939be332f927f2b992e\",\"startDate\":1511913600000,\"endDate\":1580428800000},\"adx_eth\":{\"address\":\"0x4470bb87d77b963a013db939be332f927f2b992e\",\"startDate\":1511913600000,\"endDate\":1580428800000},\"ae_bnb\":{\"startDate\":1517961600000,\"endDate\":1580428800000},\"ae_btc\":{\"startDate\":1517961600000,\"endDate\":1580428800000},\"ae_eth\":{\"startDate\":1517961600000,\"endDate\":1580428800000},\"agi_bnb\":{\"address\":\"0x8eb24319393716668d768dcec29356ae9cffe285\",\"startDate\":1528156800000,\"endDate\":1580428800000},\"agi_btc\":{\"address\":\"0x8eb24319393716668d768dcec29356ae9cffe285\",\"startDate\":1528156800000,\"endDate\":1580428800000},\"agi_eth\":{\"address\":\"0x8eb24319393716668d768dcec29356ae9cffe285\",\"startDate\":1528156800000,\"endDate\":1580428800000},\"aion_bnb\":{\"startDate\":1513814400000,\"endDate\":1580428800000},\"aion_btc\":{\"startDate\":1513814400000,\"endDate\":1580428800000},\"aion_eth\":{\"startDate\":1513814400000,\"endDate\":1580428800000},\"algo_bnb\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"algo_btc\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"algo_pax\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"algo_tusd\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"algo_usdc\":{\"startDate\":1577836800000,\"endDate\":1578355200000},\"algo_usdt\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"amb_bnb\":{\"address\":\"0x4dc3643dbc642b72c158e7f3d2ff232df61cb6ce\",\"startDate\":1510272000000,\"endDate\":1580428800000},\"amb_btc\":{\"address\":\"0x4dc3643dbc642b72c158e7f3d2ff232df61cb6ce\",\"startDate\":1510272000000,\"endDate\":1580428800000},\"amb_eth\":{\"address\":\"0x4dc3643dbc642b72c158e7f3d2ff232df61cb6ce\",\"startDate\":1510272000000,\"endDate\":1580428800000},\"ankr_bnb\":{\"address\":\"0x8290333cef9e6d528dd5618fb97a76f268f3edd4\",\"startDate\":1578441600000,\"endDate\":1580428800000},\"ankr_btc\":{\"address\":\"0x8290333cef9e6d528dd5618fb97a76f268f3edd4\",\"startDate\":1578441600000,\"endDate\":1580428800000},\"ankr_pax\":{\"address\":\"0x8290333cef9e6d528dd5618fb97a76f268f3edd4\",\"startDate\":1565568000000,\"endDate\":1569715200000},\"ankr_tusd\":{\"address\":\"0x8290333cef9e6d528dd5618fb97a76f268f3edd4\",\"startDate\":1565568000000,\"endDate\":1569801600000},\"ankr_usdc\":{\"address\":\"0x8290333cef9e6d528dd5618fb97a76f268f3edd4\",\"startDate\":1565568000000,\"endDate\":1569801600000},\"ankr_usdt\":{\"address\":\"0x8290333cef9e6d528dd5618fb97a76f268f3edd4\",\"startDate\":1578441600000,\"endDate\":1580428800000},\"appc_bnb\":{\"address\":\"0x1a7a8bd9106f2b8d977e08582dc7d24c723ab0db\",\"startDate\":1515110400000,\"endDate\":1580428800000},\"appc_btc\":{\"address\":\"0x1a7a8bd9106f2b8d977e08582dc7d24c723ab0db\",\"startDate\":1515110400000,\"endDate\":1580428800000},\"appc_eth\":{\"address\":\"0x1a7a8bd9106f2b8d977e08582dc7d24c723ab0db\",\"startDate\":1515110400000,\"endDate\":1580428800000},\"ardr_bnb\":{\"startDate\":1531872000000,\"endDate\":1575417600000},\"ardr_btc\":{\"startDate\":1531872000000,\"endDate\":1580428800000},\"ardr_eth\":{\"startDate\":1531872000000,\"endDate\":1580428800000},\"ark_btc\":{\"startDate\":1509494400000,\"endDate\":1580428800000},\"ark_eth\":{\"startDate\":1509580800000,\"endDate\":1580428800000},\"arn_btc\":{\"address\":\"0xba5f11b16b155792cf3b2e6880e8706859a8aeb6\",\"startDate\":1510704000000,\"endDate\":1580428800000},\"arn_eth\":{\"address\":\"0xba5f11b16b155792cf3b2e6880e8706859a8aeb6\",\"startDate\":1510704000000,\"endDate\":1580428800000},\"arpa_bnb\":{\"address\":\"0xba50933c268f567bdc86e1ac131be072c6b0b71a\",\"startDate\":1572998400000,\"endDate\":1580428800000},\"arpa_btc\":{\"address\":\"0xba50933c268f567bdc86e1ac131be072c6b0b71a\",\"startDate\":1572998400000,\"endDate\":1580428800000},\"arpa_usdt\":{\"address\":\"0xba50933c268f567bdc86e1ac131be072c6b0b71a\",\"startDate\":1572998400000,\"endDate\":1580428800000},\"ast_btc\":{\"address\":\"0x27054b13b1b798b345b591a4d22e6562d47ea75a\",\"startDate\":1508371200000,\"endDate\":1580428800000},\"ast_eth\":{\"address\":\"0x27054b13b1b798b345b591a4d22e6562d47ea75a\",\"startDate\":1508371200000,\"endDate\":1580428800000},\"atom_bnb\":{\"startDate\":1556496000000,\"endDate\":1580428800000},\"atom_btc\":{\"startDate\":1556496000000,\"endDate\":1580428800000},\"atom_pax\":{\"startDate\":1557273600000,\"endDate\":1572566400000},\"atom_tusd\":{\"startDate\":1557187200000,\"endDate\":1580428800000},\"atom_usdc\":{\"startDate\":1557360000000,\"endDate\":1580428800000},\"atom_usdt\":{\"startDate\":1556496000000,\"endDate\":1580428800000},\"band_bnb\":{\"address\":\"0xba11d00c5f74255f56a5e366f4f77f5a186d7f55\",\"startDate\":1568764800000,\"endDate\":1580428800000},\"band_btc\":{\"address\":\"0xba11d00c5f74255f56a5e366f4f77f5a186d7f55\",\"startDate\":1568764800000,\"endDate\":1580428800000},\"band_usdt\":{\"address\":\"0xba11d00c5f74255f56a5e366f4f77f5a186d7f55\",\"startDate\":1568764800000,\"endDate\":1580428800000},\"bat_bnb\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1510617600000,\"endDate\":1580428800000},\"bat_btc\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1510531200000,\"endDate\":1580428800000},\"bat_eth\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1510531200000,\"endDate\":1580428800000},\"bat_pax\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1557532800000,\"endDate\":1580428800000},\"bat_tusd\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1557446400000,\"endDate\":1580428800000},\"bat_usdc\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1557360000000,\"endDate\":1580428800000},\"bat_usdt\":{\"address\":\"0x0d8775f648430679a709e98d2b0cb6250d2887ef\",\"startDate\":1551657600000,\"endDate\":1580428800000},\"bcc_bnb\":{\"startDate\":1510358400000,\"endDate\":1542240000000},\"bcc_btc\":{\"startDate\":1503100800000,\"endDate\":1542240000000},\"bcc_eth\":{\"startDate\":1510358400000,\"endDate\":1542240000000},\"bcc_usdt\":{\"startDate\":1510358400000,\"endDate\":1542240000000},\"bcd_btc\":{\"startDate\":1511481600000,\"endDate\":1580428800000},\"bcd_eth\":{\"startDate\":1511481600000,\"endDate\":1580428800000},\"bch_bnb\":{\"startDate\":1574985600000,\"endDate\":1580428800000},\"bch_btc\":{\"startDate\":1574899200000,\"endDate\":1580428800000},\"bch_busd\":{\"startDate\":1574899200000,\"endDate\":1580428800000},\"bch_pax\":{\"startDate\":1575417600000,\"endDate\":1580428800000},\"bch_tusd\":{\"startDate\":1574899200000,\"endDate\":1580428800000},\"bch_usdc\":{\"startDate\":1574985600000,\"endDate\":1580428800000},\"bch_usdt\":{\"startDate\":1574899200000,\"endDate\":1580428800000},\"bcn_bnb\":{\"startDate\":1525737600000,\"endDate\":1539907200000},\"bcn_btc\":{\"startDate\":1525737600000,\"endDate\":1539907200000},\"bcn_eth\":{\"startDate\":1525737600000,\"endDate\":1539907200000},\"bcpt_bnb\":{\"address\":\"0x1c4481750daa5ff521a2a7490d9981ed46465dbd\",\"startDate\":1510617600000,\"endDate\":1580428800000},\"bcpt_btc\":{\"address\":\"0x1c4481750daa5ff521a2a7490d9981ed46465dbd\",\"startDate\":1510617600000,\"endDate\":1580428800000},\"bcpt_eth\":{\"address\":\"0x1c4481750daa5ff521a2a7490d9981ed46465dbd\",\"startDate\":1510617600000,\"endDate\":1580428800000},\"bcpt_pax\":{\"address\":\"0x1c4481750daa5ff521a2a7490d9981ed46465dbd\",\"startDate\":1565308800000,\"endDate\":1569715200000},\"bcpt_tusd\":{\"address\":\"0x1c4481750daa5ff521a2a7490d9981ed46465dbd\",\"startDate\":1561334400000,\"endDate\":1569801600000},\"bcpt_usdc\":{\"address\":\"0x1c4481750daa5ff521a2a7490d9981ed46465dbd\",\"startDate\":1561507200000,\"endDate\":1569715200000},\"beam_bnb\":{\"startDate\":1569024000000,\"endDate\":1580428800000},\"beam_btc\":{\"startDate\":1569024000000,\"endDate\":1580428800000},\"beam_usdt\":{\"startDate\":1569024000000,\"endDate\":1580428800000},\"bear_busd\":{\"address\":\"0x016ee7373248a80bde1fd6baa001311d233b3cfa\",\"startDate\":1579219200000,\"endDate\":1580428800000},\"bear_usdt\":{\"address\":\"0x016ee7373248a80bde1fd6baa001311d233b3cfa\",\"startDate\":1579219200000,\"endDate\":1580428800000},\"bgbp_usdc\":{\"address\":\"0xc9a2c4868f0f96faaa739b59934dc9cb304112ec\",\"startDate\":1563840000000,\"endDate\":1580428800000},\"blz_bnb\":{\"address\":\"0x5732046a883704404f284ce41ffadd5b007fd668\",\"startDate\":1517875200000,\"endDate\":1580428800000},\"blz_btc\":{\"address\":\"0x5732046a883704404f284ce41ffadd5b007fd668\",\"startDate\":1517875200000,\"endDate\":1580428800000},\"blz_eth\":{\"address\":\"0x5732046a883704404f284ce41ffadd5b007fd668\",\"startDate\":1517875200000,\"endDate\":1580428800000},\"bnb_btc\":{\"startDate\":1499990400000,\"endDate\":1580428800000},\"bnb_busd\":{\"startDate\":1568851200000,\"endDate\":1580428800000},\"bnb_eth\":{\"startDate\":1502236800000,\"endDate\":1580428800000},\"bnb_eur\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"bnb_ngn\":{\"startDate\":1571961600000,\"endDate\":1580428800000},\"bnb_pax\":{\"startDate\":1543449600000,\"endDate\":1580428800000},\"bnb_rub\":{\"startDate\":1575504000000,\"endDate\":1580428800000},\"bnb_try\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"bnb_tusd\":{\"startDate\":1552435200000,\"endDate\":1580428800000},\"bnb_usdc\":{\"startDate\":1544918400000,\"endDate\":1580428800000},\"bnb_usds\":{\"startDate\":1549843200000,\"endDate\":1580428800000},\"bnb_usdt\":{\"startDate\":1510012800000,\"endDate\":1580428800000},\"bnt_btc\":{\"address\":\"0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c\",\"startDate\":1508198400000,\"endDate\":1580428800000},\"bnt_eth\":{\"address\":\"0x1f573d6fb3f13d689ff844b4ce37794d79a7ff1c\",\"startDate\":1501113600000,\"endDate\":1580428800000},\"bqx_btc\":{\"startDate\":1506038400000,\"endDate\":1580428800000},\"bqx_eth\":{\"startDate\":1506038400000,\"endDate\":1580428800000},\"brd_bnb\":{\"address\":\"0x558ec3152e2eb2174905cd19aea4e34a23de9ad6\",\"startDate\":1514073600000,\"endDate\":1580428800000},\"brd_btc\":{\"address\":\"0x558ec3152e2eb2174905cd19aea4e34a23de9ad6\",\"startDate\":1514073600000,\"endDate\":1580428800000},\"brd_eth\":{\"address\":\"0x558ec3152e2eb2174905cd19aea4e34a23de9ad6\",\"startDate\":1514073600000,\"endDate\":1580428800000},\"bsv_btc\":{\"startDate\":null,\"endDate\":null},\"bsv_pax\":{\"startDate\":null,\"endDate\":null},\"bsv_tusd\":{\"startDate\":null,\"endDate\":null},\"bsv_usdc\":{\"startDate\":null,\"endDate\":null},\"bsv_usdt\":{\"startDate\":null,\"endDate\":null},\"btcb_btc\":{\"startDate\":1560816000000,\"endDate\":1569542400000},\"btc_busd\":{\"startDate\":1568937600000,\"endDate\":1580428800000},\"btc_eur\":{\"startDate\":1578009600000,\"endDate\":1580428800000},\"btc_ngn\":{\"startDate\":1571961600000,\"endDate\":1580428800000},\"btc_pax\":{\"startDate\":1543449600000,\"endDate\":1580428800000},\"btc_rub\":{\"startDate\":1575417600000,\"endDate\":1580428800000},\"btc_try\":{\"startDate\":1577318400000,\"endDate\":1580428800000},\"btc_tusd\":{\"startDate\":1552521600000,\"endDate\":1580428800000},\"btc_usdc\":{\"startDate\":1544832000000,\"endDate\":1580428800000},\"btc_usds\":{\"startDate\":1549584000000,\"endDate\":1580428800000},\"btc_usdt\":{\"startDate\":1516233600000,\"endDate\":1580428800000},\"btg_btc\":{\"startDate\":1508803200000,\"endDate\":1580428800000},\"btg_eth\":{\"startDate\":1508976000000,\"endDate\":1580428800000},\"bts_bnb\":{\"startDate\":1511222400000,\"endDate\":1572566400000},\"bts_btc\":{\"startDate\":1511222400000,\"endDate\":1580428800000},\"bts_eth\":{\"startDate\":1511308800000,\"endDate\":1580428800000},\"btt_bnb\":{\"startDate\":1548892800000,\"endDate\":1580428800000},\"btt_btc\":{\"startDate\":1548892800000,\"endDate\":1569801600000},\"btt_pax\":{\"startDate\":1550361600000,\"endDate\":1580428800000},\"btt_trx\":{\"startDate\":1567555200000,\"endDate\":1580428800000},\"btt_tusd\":{\"startDate\":1550188800000,\"endDate\":1580428800000},\"btt_usdc\":{\"startDate\":1550534400000,\"endDate\":1580428800000},\"btt_usdt\":{\"startDate\":1548892800000,\"endDate\":1580428800000},\"bull_busd\":{\"address\":\"0x68eb95dc9934e19b86687a10df8e364423240e94\",\"startDate\":1579219200000,\"endDate\":1580428800000},\"bull_usdt\":{\"address\":\"0x68eb95dc9934e19b86687a10df8e364423240e94\",\"startDate\":1579219200000,\"endDate\":1580428800000},\"busd_ngn\":{\"address\":\"0x4fabb145d64652a948d72533023f6e7a623c7c53\",\"startDate\":1572912000000,\"endDate\":1580428800000},\"busd_rub\":{\"address\":\"0x4fabb145d64652a948d72533023f6e7a623c7c53\",\"startDate\":1576108800000,\"endDate\":1580428800000},\"busd_try\":{\"address\":\"0x4fabb145d64652a948d72533023f6e7a623c7c53\",\"startDate\":1578441600000,\"endDate\":1580428800000},\"busd_usdt\":{\"address\":\"0x4fabb145d64652a948d72533023f6e7a623c7c53\",\"startDate\":1569024000000,\"endDate\":1580428800000},\"cdt_btc\":{\"address\":\"0x177d39ac676ed1c67a2b268ad7f1e58826e5b0af\",\"startDate\":1510876800000,\"endDate\":1580428800000},\"cdt_eth\":{\"address\":\"0x177d39ac676ed1c67a2b268ad7f1e58826e5b0af\",\"startDate\":1510790400000,\"endDate\":1580428800000},\"celr_bnb\":{\"address\":\"0x4f9254c83eb525f9fcf346490bbb3ed28a81c667\",\"startDate\":1553472000000,\"endDate\":1580428800000},\"celr_btc\":{\"address\":\"0x4f9254c83eb525f9fcf346490bbb3ed28a81c667\",\"startDate\":1553472000000,\"endDate\":1580428800000},\"celr_usdt\":{\"address\":\"0x4f9254c83eb525f9fcf346490bbb3ed28a81c667\",\"startDate\":1553472000000,\"endDate\":1580428800000},\"chat_btc\":{\"startDate\":1517356800000,\"endDate\":1539907200000},\"chat_eth\":{\"startDate\":1517356800000,\"endDate\":1539907200000},\"chz_bnb\":{\"address\":\"0x3506424f91fd33084466f402d5d97f05f8e3b4af\",\"startDate\":1567728000000,\"endDate\":1580428800000},\"chz_btc\":{\"address\":\"0x3506424f91fd33084466f402d5d97f05f8e3b4af\",\"startDate\":1567728000000,\"endDate\":1580428800000},\"chz_usdt\":{\"address\":\"0x3506424f91fd33084466f402d5d97f05f8e3b4af\",\"startDate\":1567728000000,\"endDate\":1580428800000},\"cloak_btc\":{\"startDate\":1524009600000,\"endDate\":1550793600000},\"cloak_eth\":{\"startDate\":1524009600000,\"endDate\":1550793600000},\"cmt_bnb\":{\"startDate\":1512432000000,\"endDate\":1580428800000},\"cmt_btc\":{\"startDate\":1512432000000,\"endDate\":1580428800000},\"cmt_eth\":{\"startDate\":1512432000000,\"endDate\":1580428800000},\"cnd_bnb\":{\"address\":\"0xd4c435f5b09f855c3317c8524cb1f586e42795fa\",\"startDate\":1512950400000,\"endDate\":1580428800000},\"cnd_btc\":{\"address\":\"0xd4c435f5b09f855c3317c8524cb1f586e42795fa\",\"startDate\":1512950400000,\"endDate\":1580428800000},\"cnd_eth\":{\"address\":\"0xd4c435f5b09f855c3317c8524cb1f586e42795fa\",\"startDate\":1512950400000,\"endDate\":1580428800000},\"cocos_bnb\":{\"address\":\"0x0c6f5f7d555e7518f6841a79436bd2b1eef03381\",\"startDate\":1566345600000,\"endDate\":1580428800000},\"cocos_btc\":{\"address\":\"0x0c6f5f7d555e7518f6841a79436bd2b1eef03381\",\"startDate\":1566345600000,\"endDate\":1580428800000},\"cocos_usdt\":{\"address\":\"0x0c6f5f7d555e7518f6841a79436bd2b1eef03381\",\"startDate\":1566345600000,\"endDate\":1580428800000},\"cos_bnb\":{\"startDate\":1564790400000,\"endDate\":1580428800000},\"cos_btc\":{\"startDate\":1564790400000,\"endDate\":1580428800000},\"cos_usdt\":{\"startDate\":1564790400000,\"endDate\":1580428800000},\"ctxc_bnb\":{\"startDate\":1574380800000,\"endDate\":1580428800000},\"ctxc_btc\":{\"startDate\":1574380800000,\"endDate\":1580428800000},\"ctxc_usdt\":{\"startDate\":1574380800000,\"endDate\":1580428800000},\"cvc_bnb\":{\"address\":\"0x41e5560054824ea6b0732e656e3ad64e20e94e45\",\"startDate\":1527465600000,\"endDate\":1572566400000},\"cvc_btc\":{\"address\":\"0x41e5560054824ea6b0732e656e3ad64e20e94e45\",\"startDate\":1527465600000,\"endDate\":1580428800000},\"cvc_eth\":{\"address\":\"0x41e5560054824ea6b0732e656e3ad64e20e94e45\",\"startDate\":1527465600000,\"endDate\":1580428800000},\"cvc_usdt\":{\"address\":\"0x41e5560054824ea6b0732e656e3ad64e20e94e45\",\"startDate\":1566864000000,\"endDate\":1580428800000},\"dash_bnb\":{\"startDate\":1553731200000,\"endDate\":1580428800000},\"dash_btc\":{\"startDate\":1508457600000,\"endDate\":1580428800000},\"dash_eth\":{\"startDate\":1509148800000,\"endDate\":1580428800000},\"dash_usdt\":{\"startDate\":1553731200000,\"endDate\":1580428800000},\"data_btc\":{\"address\":\"0x0cf0ee63788a0849fe5297f3407f701e122cc023\",\"startDate\":1528416000000,\"endDate\":1580428800000},\"data_eth\":{\"address\":\"0x0cf0ee63788a0849fe5297f3407f701e122cc023\",\"startDate\":1528416000000,\"endDate\":1580428800000},\"dcr_bnb\":{\"startDate\":1540339200000,\"endDate\":1580428800000},\"dcr_btc\":{\"startDate\":1540339200000,\"endDate\":1580428800000},\"dent_btc\":{\"address\":\"0x3597bfd533a99c9aa083587b074434e61eb0a258\",\"startDate\":1530835200000,\"endDate\":1569801600000},\"dent_eth\":{\"address\":\"0x3597bfd533a99c9aa083587b074434e61eb0a258\",\"startDate\":1530835200000,\"endDate\":1580428800000},\"dent_usdt\":{\"address\":\"0x3597bfd533a99c9aa083587b074434e61eb0a258\",\"startDate\":1566864000000,\"endDate\":1580428800000},\"dgd_btc\":{\"address\":\"0xe0b7927c4af23765cb51314a0e0521a9645f0e2a\",\"startDate\":1511740800000,\"endDate\":1580428800000},\"dgd_eth\":{\"address\":\"0xe0b7927c4af23765cb51314a0e0521a9645f0e2a\",\"startDate\":1511740800000,\"endDate\":1580428800000},\"dlt_bnb\":{\"address\":\"0x07e3c70653548b04f0a75970c1f81b4cbbfb606f\",\"startDate\":1510272000000,\"endDate\":1580428800000},\"dlt_btc\":{\"address\":\"0x07e3c70653548b04f0a75970c1f81b4cbbfb606f\",\"startDate\":1510272000000,\"endDate\":1580428800000},\"dlt_eth\":{\"address\":\"0x07e3c70653548b04f0a75970c1f81b4cbbfb606f\",\"startDate\":1510272000000,\"endDate\":1580428800000},\"dnt_btc\":{\"address\":\"0x0abdace70d3790235af448c88547603b945604ea\",\"startDate\":1508112000000,\"endDate\":1580428800000},\"dnt_eth\":{\"address\":\"0x0abdace70d3790235af448c88547603b945604ea\",\"startDate\":1503360000000,\"endDate\":1580428800000},\"dock_btc\":{\"address\":\"0xe5dada80aa6477e85d09747f2842f7993d0df71c\",\"startDate\":1532908800000,\"endDate\":1580428800000},\"dock_eth\":{\"address\":\"0xe5dada80aa6477e85d09747f2842f7993d0df71c\",\"startDate\":1532908800000,\"endDate\":1580428800000},\"dock_usdt\":{\"address\":\"0xe5dada80aa6477e85d09747f2842f7993d0df71c\",\"startDate\":1566864000000,\"endDate\":1580428800000},\"doge_bnb\":{\"startDate\":1562284800000,\"endDate\":1580428800000},\"doge_btc\":{\"startDate\":1562284800000,\"endDate\":1580428800000},\"doge_pax\":{\"startDate\":1563321600000,\"endDate\":1569628800000},\"doge_usdc\":{\"startDate\":1562371200000,\"endDate\":1569801600000},\"doge_usdt\":{\"startDate\":1562284800000,\"endDate\":1580428800000},\"drep_bnb\":{\"address\":\"0x22de9912cd3d74953b1cd1f250b825133cc2c1b3\",\"startDate\":1579132800000,\"endDate\":1580428800000},\"drep_btc\":{\"address\":\"0x22de9912cd3d74953b1cd1f250b825133cc2c1b3\",\"startDate\":1579132800000,\"endDate\":1580428800000},\"drep_usdt\":{\"address\":\"0x22de9912cd3d74953b1cd1f250b825133cc2c1b3\",\"startDate\":1579132800000,\"endDate\":1580428800000},\"dusk_bnb\":{\"address\":\"0x940a2db1b7008b6c776d4faaca729d6d4a4aa551\",\"startDate\":1563753600000,\"endDate\":1580428800000},\"dusk_btc\":{\"address\":\"0x940a2db1b7008b6c776d4faaca729d6d4a4aa551\",\"startDate\":1563753600000,\"endDate\":1580428800000},\"dusk_pax\":{\"address\":\"0x940a2db1b7008b6c776d4faaca729d6d4a4aa551\",\"startDate\":1563840000000,\"endDate\":1580428800000},\"dusk_usdc\":{\"address\":\"0x940a2db1b7008b6c776d4faaca729d6d4a4aa551\",\"startDate\":1563840000000,\"endDate\":1580428800000},\"dusk_usdt\":{\"address\":\"0x940a2db1b7008b6c776d4faaca729d6d4a4aa551\",\"startDate\":1563753600000,\"endDate\":1580428800000},\"edo_btc\":{\"address\":\"0xced4e93198734ddaff8492d525bd258d49eb388e\",\"startDate\":1514160000000,\"endDate\":1580428800000},\"edo_eth\":{\"address\":\"0xced4e93198734ddaff8492d525bd258d49eb388e\",\"startDate\":1514160000000,\"endDate\":1580428800000},\"elf_btc\":{\"address\":\"0xbf2179859fc6d5bee9bf9158632dc51678a4100e\",\"startDate\":1513814400000,\"endDate\":1580428800000},\"elf_eth\":{\"address\":\"0xbf2179859fc6d5bee9bf9158632dc51678a4100e\",\"startDate\":1513814400000,\"endDate\":1580428800000},\"eng_btc\":{\"address\":\"0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4\",\"startDate\":1507852800000,\"endDate\":1580428800000},\"eng_eth\":{\"address\":\"0xf0ee6b27b759c9893ce4f094b49ad28fd15a23e4\",\"startDate\":1507852800000,\"endDate\":1580428800000},\"enj_bnb\":{\"address\":\"0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c\",\"startDate\":1528329600000,\"endDate\":1580428800000},\"enj_btc\":{\"address\":\"0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c\",\"startDate\":1509667200000,\"endDate\":1580428800000},\"enj_eth\":{\"address\":\"0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c\",\"startDate\":1509667200000,\"endDate\":1580428800000},\"enj_usdt\":{\"address\":\"0xf629cbd94d3791c9250152bd8dfbdf380e2a3b9c\",\"startDate\":1555545600000,\"endDate\":1580428800000},\"eos_bnb\":{\"startDate\":1527465600000,\"endDate\":1580428800000},\"eos_btc\":{\"startDate\":1507680000000,\"endDate\":1580428800000},\"eos_busd\":{\"startDate\":1573084800000,\"endDate\":1580428800000},\"eos_eth\":{\"startDate\":1501113600000,\"endDate\":1580428800000},\"eos_pax\":{\"startDate\":1543449600000,\"endDate\":1580428800000},\"eos_tusd\":{\"startDate\":1544140800000,\"endDate\":1580428800000},\"eos_usdc\":{\"startDate\":1544832000000,\"endDate\":1580428800000},\"eos_usdt\":{\"startDate\":1527465600000,\"endDate\":1580428800000},\"erd_bnb\":{\"startDate\":1562198400000,\"endDate\":1580428800000},\"erd_btc\":{\"startDate\":1562198400000,\"endDate\":1580428800000},\"erd_pax\":{\"startDate\":1562284800000,\"endDate\":1569715200000},\"erd_usdc\":{\"startDate\":1562198400000,\"endDate\":1569801600000},\"erd_usdt\":{\"startDate\":1562198400000,\"endDate\":1580428800000},\"etc_bnb\":{\"startDate\":1528761600000,\"endDate\":1580428800000},\"etc_btc\":{\"startDate\":1507939200000,\"endDate\":1580428800000},\"etc_busd\":{\"startDate\":1571875200000,\"endDate\":1580428800000},\"etc_eth\":{\"startDate\":1507852800000,\"endDate\":1580428800000},\"etc_pax\":{\"startDate\":1557273600000,\"endDate\":1572480000000},\"etc_tusd\":{\"startDate\":1557964800000,\"endDate\":1576800000000},\"etc_usdc\":{\"startDate\":1557446400000,\"endDate\":1573776000000},\"etc_usdt\":{\"startDate\":1528761600000,\"endDate\":1580428800000},\"eth_btc\":{\"startDate\":1517529600000,\"endDate\":1580428800000},\"eth_busd\":{\"startDate\":1571702400000,\"endDate\":1580428800000},\"eth_eur\":{\"startDate\":1578009600000,\"endDate\":1580428800000},\"eth_pax\":{\"startDate\":1543449600000,\"endDate\":1580428800000},\"eth_rub\":{\"startDate\":1575417600000,\"endDate\":1580428800000},\"eth_try\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"eth_tusd\":{\"startDate\":1552521600000,\"endDate\":1580428800000},\"eth_usdc\":{\"startDate\":1544832000000,\"endDate\":1580428800000},\"eth_usdt\":{\"startDate\":1502928000000,\"endDate\":1580428800000},\"eur_busd\":{\"startDate\":1578441600000,\"endDate\":1580428800000},\"eur_usdt\":{\"startDate\":1578268800000,\"endDate\":1580428800000},\"evx_btc\":{\"address\":\"0xf3db5fa2c66b7af3eb0c0b782510816cbe4813b8\",\"startDate\":1508976000000,\"endDate\":1580428800000},\"evx_eth\":{\"address\":\"0xf3db5fa2c66b7af3eb0c0b782510816cbe4813b8\",\"startDate\":1509062400000,\"endDate\":1580428800000},\"fet_bnb\":{\"address\":\"0x1d287cc25dad7ccaf76a26bc660c5f7c8e2a05bd\",\"startDate\":1551312000000,\"endDate\":1580428800000},\"fet_btc\":{\"address\":\"0x1d287cc25dad7ccaf76a26bc660c5f7c8e2a05bd\",\"startDate\":1551312000000,\"endDate\":1580428800000},\"fet_usdt\":{\"address\":\"0x1d287cc25dad7ccaf76a26bc660c5f7c8e2a05bd\",\"startDate\":1551312000000,\"endDate\":1580428800000},\"ftm_bnb\":{\"address\":\"0x4e15361fd6b4bb609fa63c81a2be19d873717870\",\"startDate\":1560211200000,\"endDate\":1580428800000},\"ftm_btc\":{\"address\":\"0x4e15361fd6b4bb609fa63c81a2be19d873717870\",\"startDate\":1560211200000,\"endDate\":1580428800000},\"ftm_pax\":{\"address\":\"0x4e15361fd6b4bb609fa63c81a2be19d873717870\",\"startDate\":1560211200000,\"endDate\":1569801600000},\"ftm_tusd\":{\"address\":\"0x4e15361fd6b4bb609fa63c81a2be19d873717870\",\"startDate\":1560211200000,\"endDate\":1569715200000},\"ftm_usdc\":{\"address\":\"0x4e15361fd6b4bb609fa63c81a2be19d873717870\",\"startDate\":1560211200000,\"endDate\":1578355200000},\"ftm_usdt\":{\"address\":\"0x4e15361fd6b4bb609fa63c81a2be19d873717870\",\"startDate\":1560211200000,\"endDate\":1580428800000},\"ftt_bnb\":{\"address\":\"0x50d1c9771902476076ecfc8b2a83ad6b9355a4c9\",\"startDate\":1576800000000,\"endDate\":1580428800000},\"ftt_btc\":{\"address\":\"0x50d1c9771902476076ecfc8b2a83ad6b9355a4c9\",\"startDate\":1576800000000,\"endDate\":1580428800000},\"ftt_usdt\":{\"address\":\"0x50d1c9771902476076ecfc8b2a83ad6b9355a4c9\",\"startDate\":1576800000000,\"endDate\":1580428800000},\"fuel_btc\":{\"address\":\"0xea38eaa3c86c8f9b751533ba2e562deb9acded40\",\"startDate\":1511395200000,\"endDate\":1580428800000},\"fuel_eth\":{\"address\":\"0xea38eaa3c86c8f9b751533ba2e562deb9acded40\",\"startDate\":1511395200000,\"endDate\":1569801600000},\"fun_btc\":{\"address\":\"0x419d0d8bdd9af5e606ae2232ed285aff190e711b\",\"startDate\":1506556800000,\"endDate\":1580428800000},\"fun_eth\":{\"address\":\"0x419d0d8bdd9af5e606ae2232ed285aff190e711b\",\"startDate\":1506556800000,\"endDate\":1580428800000},\"fun_usdt\":{\"address\":\"0x419d0d8bdd9af5e606ae2232ed285aff190e711b\",\"startDate\":1566864000000,\"endDate\":1580428800000},\"gas_btc\":{\"startDate\":1502064000000,\"endDate\":1580428800000},\"gnt_bnb\":{\"address\":\"0xa74476443119a942de498590fe1f2454d7d4ac0d\",\"startDate\":1524787200000,\"endDate\":1575417600000},\"gnt_btc\":{\"address\":\"0xa74476443119a942de498590fe1f2454d7d4ac0d\",\"startDate\":1524787200000,\"endDate\":1580428800000},\"gnt_eth\":{\"address\":\"0xa74476443119a942de498590fe1f2454d7d4ac0d\",\"startDate\":1524787200000,\"endDate\":1580428800000},\"go_bnb\":{\"startDate\":1536710400000,\"endDate\":1580428800000},\"go_btc\":{\"startDate\":1536710400000,\"endDate\":1580428800000},\"grs
[...]
