{
  "log": {
    "_recordingName": "market",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "45044181707ebff837bfd1cb0e47f593",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/market/pairs?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 627049,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"ada_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558402380000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1523937720000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1523939282000,\"endDate\":1570839409000},\"order_book_update\":{\"startDate\":1558530846000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558105380000,\"endDate\":1570840020000}}},\"ada_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558402740000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1512044940000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1534572464000,\"endDate\":1570839841000},\"order_book_update\":{\"startDate\":1558531174000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558118580000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558410900000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107980000,\"endDate\":1570839600000},\"trade\":{\"startDate\":1556166686000,\"endDate\":1570839778000},\"order_book_update\":{\"startDate\":1558291261000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558411800000,\"endDate\":1570840020000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book\":{\"startDate\":1566198180000,\"endDate\":1570840020000}},\"zb\":{\"ticker\":{\"startDate\":1558407480000,\"endDate\":1570840080000},\"trade\":{\"startDate\":1556167556000,\"endDate\":1570839288000},\"order_book\":{\"startDate\":1558393980000,\"endDate\":1570840020000}}},\"ada_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558403040000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1512045000000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1512054744000,\"endDate\":1570839681000},\"order_book_update\":{\"startDate\":1558530938000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558118880000,\"endDate\":1570840020000}},\"huobi\":{\"ticker\":{\"startDate\":1558411200000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556108280000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1556156629000,\"endDate\":1570838412000},\"order_book_update\":{\"startDate\":1558291259000,\"endDate\":1570839597000},\"order_book\":{\"startDate\":1558412160000,\"endDate\":1570840020000}},\"kraken\":{\"ticker\":{\"startDate\":1558400220000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556185140000,\"endDate\":1570839840000},\"trade\":{\"startDate\":1556163526000,\"endDate\":1570839187000},\"order_book_update\":{\"startDate\":1538142330000,\"endDate\":1570839580000},\"order_book\":{\"startDate\":1558407480000,\"endDate\":1570840080000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book\":{\"startDate\":1566198420000,\"endDate\":1570840020000}}},\"ada_pax\":{\"binance\":{\"ticker\":{\"startDate\":1558403340000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1553659200000,\"endDate\":1570839720000},\"trade\":{\"startDate\":1554184091000,\"endDate\":1570838415000},\"order_book_update\":{\"startDate\":1558530816000,\"endDate\":1570839575000},\"order_book\":{\"startDate\":1558119300000,\"endDate\":1570840020000}}},\"ada_tusd\":{\"binance\":{\"ticker\":{\"startDate\":1558403700000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1545192120000,\"endDate\":1570839960000},\"trade\":{\"startDate\":1545229419000,\"endDate\":1570837792000},\"order_book_update\":{\"startDate\":1558531056000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558119660000,\"endDate\":1570840020000}}},\"ada_usdc\":{\"binance\":{\"ticker\":{\"startDate\":1558404000000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1553659200000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1553915166000,\"endDate\":1570838666000},\"order_book_update\":{\"startDate\":1558530990000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558119960000,\"endDate\":1570840020000}}},\"ada_usdt\":{\"binance\":{\"ticker\":{\"startDate\":1558404300000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1523937720000,\"endDate\":1570839720000},\"trade\":{\"startDate\":1523938371000,\"endDate\":1570839756000},\"order_book_update\":{\"startDate\":1558530964000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558120260000,\"endDate\":1570840020000}},\"huobi\":{\"ticker\":{\"startDate\":1558411500000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556106840000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1556163021000,\"endDate\":1570839613000},\"order_book_update\":{\"startDate\":1558291262000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558412400000,\"endDate\":1570840020000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book\":{\"startDate\":1566198900000,\"endDate\":1570840020000}},\"zb\":{\"ticker\":{\"startDate\":1558408080000,\"endDate\":1570840080000},\"trade\":{\"startDate\":1556170886000,\"endDate\":1570839288000},\"order_book\":{\"startDate\":1558395600000,\"endDate\":1570840020000}}},\"adx_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558404600000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1511925180000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1512027727000,\"endDate\":1570837655000},\"order_book_update\":{\"startDate\":1558530670000,\"endDate\":1570839586000},\"order_book\":{\"startDate\":1558120620000,\"endDate\":1570840080000}}},\"adx_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558406040000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1511925000000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1511932812000,\"endDate\":1570839734000},\"order_book_update\":{\"startDate\":1558530807000,\"endDate\":1570839592000},\"order_book\":{\"startDate\":1558120920000,\"endDate\":1570840020000}},\"huobi\":{\"ticker\":{\"startDate\":1558411800000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107260000,\"endDate\":1570839720000},\"trade\":{\"startDate\":1556134179000,\"endDate\":1570839403000},\"order_book_update\":{\"startDate\":1558291271000,\"endDate\":1570839577000},\"order_book\":{\"startDate\":1558412760000,\"endDate\":1570840020000}}},\"adx_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558406340000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1511925060000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1511955625000,\"endDate\":1570838835000},\"order_book_update\":{\"startDate\":1558530783000,\"endDate\":1570839598000},\"order_book\":{\"startDate\":1558121280000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558412160000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107500000,\"endDate\":1570839720000},\"trade\":{\"startDate\":1556135616000,\"endDate\":1570839614000},\"order_book_update\":{\"startDate\":1558291260000,\"endDate\":1570839562000},\"order_book\":{\"startDate\":1558413060000,\"endDate\":1570840020000}}},\"ae_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558406580000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1518004740000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1518004920000,\"endDate\":1570834761000},\"order_book_update\":{\"startDate\":1558531117000,\"endDate\":1570839584000},\"order_book\":{\"startDate\":1558388340000,\"endDate\":1570840020000}}},\"ae_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558406940000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1518004680000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1518004776000,\"endDate\":1570839005000},\"order_book_update\":{\"startDate\":1558530937000,\"endDate\":1570839598000},\"order_book\":{\"startDate\":1558388640000,\"endDate\":1570840020000}},\"huobi\":{\"ticker\":{\"startDate\":1558412400000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107740000,\"endDate\":1570839840000},\"trade\":{\"startDate\":1556142920000,\"endDate\":1570839654000},\"order_book_update\":{\"startDate\":1558291264000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558413300000,\"endDate\":1570840020000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book\":{\"startDate\":1566199200000,\"endDate\":1570840080000}},\"zb\":{\"ticker\":{\"startDate\":1558408380000,\"endDate\":1570840080000},\"trade\":{\"startDate\":1556165263000,\"endDate\":1570839860000},\"order_book\":{\"startDate\":1558395900000,\"endDate\":1570840080000}}},\"ae_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558407240000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1518004680000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1518004875000,\"endDate\":1570838906000},\"order_book_update\":{\"startDate\":1558531043000,\"endDate\":1570839592000},\"order_book\":{\"startDate\":1558388940000,\"endDate\":1570840020000}},\"huobi\":{\"ticker\":{\"startDate\":1558412760000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107980000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1556135238000,\"endDate\":1570839584000},\"order_book_update\":{\"startDate\":1558291261000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558413660000,\"endDate\":1570840080000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book\":{\"startDate\":1566199440000,\"endDate\":1570840080000}}},\"agi_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558407480000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1528192800000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1528233877000,\"endDate\":1570838537000},\"order_book_update\":{\"startDate\":1558530880000,\"endDate\":1570839550000},\"order_book\":{\"startDate\":1558389240000,\"endDate\":1570840020000}}},\"agi_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558407780000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1528192800000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1528192852000,\"endDate\":1570839490000},\"order_book_update\":{\"startDate\":1558530700000,\"endDate\":1570839582000},\"order_book\":{\"startDate\":1558389540000,\"endDate\":1570840080000}},\"bitfinex\":{\"ohlc\":{\"startDate\":1523118300000,\"endDate\":1570807260000},\"trade\":{\"startDate\":1523118355000,\"endDate\":1570807283000},\"order_book_update\":{\"startDate\":1558291303000,\"endDate\":1570839120000}}},\"agi_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558408080000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1528192800000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1528193282000,\"endDate\":1570836455000},\"order_book_update\":{\"startDate\":1558530665000,\"endDate\":1570839567000},\"order_book\":{\"startDate\":1558389900000,\"endDate\":1570840080000}},\"bitfinex\":{\"ohlc\":{\"startDate\":1523117820000,\"endDate\":1563285420000},\"trade\":{\"startDate\":1523117848000,\"endDate\":1570701170000},\"order_book_update\":{\"startDate\":1558291293000,\"endDate\":1570839574000}}},\"aion_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558408380000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1513846560000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1513859559000,\"endDate\":1570839086000},\"order_book_update\":{\"startDate\":1558530966000,\"endDate\":1570839595000},\"order_book\":{\"startDate\":1558390140000,\"endDate\":1570840020000}}},\"aion_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558408680000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1513846260000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1513846392000,\"endDate\":1570839721000},\"order_book_update\":{\"startDate\":1558531025000,\"endDate\":1570839590000},\"order_book\":{\"startDate\":1558390440000,\"endDate\":1570840080000}}},\"aion_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558408980000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1513846440000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1513848550000,\"endDate\":1570839621000},\"order_book_update\":{\"startDate\":1558531149000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558390740000,\"endDate\":1570840080000}}},\"amb_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558409280000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510330380000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1510333025000,\"endDate\":1570836843000},\"order_book_update\":{\"startDate\":1558530727000,\"endDate\":1570839580000},\"order_book\":{\"startDate\":1558391040000,\"endDate\":1570840080000}}},\"amb_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558409580000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510330440000,\"endDate\":1570839720000},\"trade\":{\"startDate\":1510331805000,\"endDate\":1570839621000},\"order_book_update\":{\"startDate\":1558530817000,\"endDate\":1570839593000},\"order_book\":{\"startDate\":1558391340000,\"endDate\":1570840020000}}},\"amb_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558409880000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510330560000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1510333111000,\"endDate\":1570839521000},\"order_book_update\":{\"startDate\":1558531029000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558391640000,\"endDate\":1570840020000}}},\"appc_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558410240000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1515168960000,\"endDate\":1570839720000},\"trade\":{\"startDate\":1515172002000,\"endDate\":1570832080000},\"order_book_update\":{\"startDate\":1558531151000,\"endDate\":1570839598000},\"order_book\":{\"startDate\":1558392000000,\"endDate\":1570840080000}}},\"appc_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558410540000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1515168840000,\"endDate\":1570839840000},\"trade\":{\"startDate\":1515168874000,\"endDate\":1570839667000},\"order_book_update\":{\"startDate\":1558530812000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558392240000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558413960000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107500000,\"endDate\":1570839960000},\"trade\":{\"startDate\":1556131872000,\"endDate\":1570839614000},\"order_book_update\":{\"startDate\":1558291260000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558414860000,\"endDate\":1570840020000}}},\"appc_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558410900000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1515168900000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1515168910000,\"endDate\":1570834355000},\"order_book_update\":{\"startDate\":1558530783000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558392600000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558414260000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107740000,\"endDate\":1570839960000},\"trade\":{\"startDate\":1556128468000,\"endDate\":1570839622000},\"order_book_update\":{\"startDate\":1558291260000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558105380000,\"endDate\":1570840020000}}},\"ardr_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558411200000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1531911600000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1531911715000,\"endDate\":1570813619000},\"order_book_update\":{\"startDate\":1558530876000,\"endDate\":1570839597000},\"order_book\":{\"startDate\":1558392900000,\"endDate\":1570840080000}}},\"ardr_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558411500000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1531911600000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1531911619000,\"endDate\":1570839748000},\"order_book_update\":{\"startDate\":1558530815000,\"endDate\":1570839598000},\"order_book_best_bid_offer\":{\"startDate\":1565898300000,\"endDate\":1570837440000},\"order_book\":{\"startDate\":1558393320000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558414560000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107980000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1556009615000,\"endDate\":1570839603000},\"order_book_update\":{\"startDate\":1558291287000,\"endDate\":1570839599000},\"order_book_best_bid_offer\":{\"startDate\":1565898299000,\"endDate\":1570837441000},\"order_book\":{\"startDate\":1558118580000,\"endDate\":1570840020000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book_best_bid_offer\":{\"startDate\":1566201479000,\"endDate\":1570837441000},\"order_book\":{\"startDate\":1566201480000,\"endDate\":1570840080000}},\"poloniex\":{\"ticker\":{\"startDate\":1565237640000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1566060540000,\"endDate\":1570838460000},\"trade\":{\"startDate\":1565715910000,\"endDate\":1570839246000},\"order_book_update\":{\"startDate\":1565893627000,\"endDate\":1570839598000},\"order_book_best_bid_offer\":{\"startDate\":1565898240000,\"endDate\":1570837440000},\"order_book\":{\"startDate\":1565236560000,\"endDate\":1570840080000}}},\"ardr_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558411800000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1531911600000,\"endDate\":1570839960000},\"trade\":{\"startDate\":1531911907000,\"endDate\":1570839586000},\"order_book_update\":{\"startDate\":1558530965000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558393680000,\"endDate\":1570840020000}},\"huobi\":{\"ticker\":{\"startDate\":1558414860000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556108280000,\"endDate\":1570839960000},\"trade\":{\"startDate\":1555993549000,\"endDate\":1570839831000},\"order_book_update\":{\"startDate\":1558291279000,\"endDate\":1570839598000},\"order_book\":{\"startDate\":1558118880000,\"endDate\":1570840080000}}},\"ark_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558412160000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1509528120000,\"endDate\":1570839660000},\"trade\":{\"startDate\":1509529675000,\"endDate\":1570839674000},\"order_book_update\":{\"startDate\":1558530994000,\"endDate\":1570839597000},\"order_book\":{\"startDate\":1558393980000,\"endDate\":1570840020000}},\"okex\":{\"ticker\":{\"startDate\":1566076080000,\"endDate\":1570840080000},\"order_book\":{\"startDate\":1566201780000,\"endDate\":1570840020000}}},\"ark_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558412400000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1509528360000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1509646668000,\"endDate\":1570839433000},\"order_book_update\":{\"startDate\":1558530847000,\"endDate\":1570839596000},\"order_book\":{\"startDate\":1558394220000,\"endDate\":1570840080000}}},\"arn_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558412760000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510714020000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1512572152000,\"endDate\":1570839649000},\"order_book_update\":{\"startDate\":1558531145000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558395600000,\"endDate\":1570840080000}}},\"arn_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558413060000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510714020000,\"endDate\":1570839600000},\"trade\":{\"startDate\":1510714578000,\"endDate\":1570839460000},\"order_book_update\":{\"startDate\":1558530845000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558395900000,\"endDate\":1570840020000}}},\"ast_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558413300000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1508386500000,\"endDate\":1570839840000},\"trade\":{\"startDate\":1508387240000,\"endDate\":1570839709000},\"order_book_update\":{\"startDate\":1558530995000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558396260000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558105380000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556106840000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1556090104000,\"endDate\":1570839867000},\"order_book_update\":{\"startDate\":1558291260000,\"endDate\":1570839598000},\"order_book\":{\"startDate\":1558119300000,\"endDate\":1570840020000}}},\"ast_eth\":{\"binance\":{\"ticker\":{\"startDate\":1558413660000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1508386560000,\"endDate\":1570839960000},\"trade\":{\"startDate\":1508419884000,\"endDate\":1570839620000},\"order_book_update\":{\"startDate\":1558531110000,\"endDate\":1570839581000},\"order_book\":{\"startDate\":1558396560000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558118580000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1556107260000,\"endDate\":1570839780000},\"trade\":{\"startDate\":1556123565000,\"endDate\":1570839758000},\"order_book_update\":{\"startDate\":1558291324000,\"endDate\":1570839599000},\"order_book\":{\"startDate\":1558119660000,\"endDate\":1570840020000}}},\"bat_bnb\":{\"binance\":{\"ticker\":{\"startDate\":1558413960000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510571520000,\"endDate\":1570839840000},\"trade\":{\"startDate\":1510646524000,\"endDate\":1570839370000},\"order_book_update\":{\"startDate\":1558530814000,\"endDate\":1570839594000},\"order_book\":{\"startDate\":1558396800000,\"endDate\":1570840080000}}},\"bat_btc\":{\"binance\":{\"ticker\":{\"startDate\":1558414260000,\"endDate\":1570840080000},\"ohlc\":{\"startDate\":1510571400000,\"endDate\":1570839900000},\"trade\":{\"startDate\":1510571638000,\"endDate\":1570839657000},\"order_book_update\":{\"startDate\":1558530968000,\"endDate\":1570839599000},\"order_book_best_bid_offer\":{\"startDate\":1565898300000,\"endDate\":1570837440000},\"order_book\":{\"startDate\":1558397100000,\"endDate\":1570840080000}},\"huobi\":{\"ticker\":{\"startDate\":1558118880000,\[...]
