{
  "log": {
    "_recordingName": "market",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "d7de2d23d35b787cb3daeed3aca3e939",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/market/ohlcv/eth_btc/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 671,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"binance\":{\"timestamp\":1570662720000,\"open\":0.022596,\"high\":0.022597,\"low\":0.02255,\"close\":0.022555,\"volume\":197.302},\"bitfinex\":{\"timestamp\":1570662660000,\"open\":0.022587,\"high\":0.022587,\"low\":0.022587,\"close\":0.022587,\"volume\":0.6},\"gdax\":{\"timestamp\":1570662720000,\"open\":0.02259,\"high\":0.02259,\"low\":0.02257,\"close\":0.02257,\"volume\":40.43990311},\"huobi\":{\"timestamp\":1570662660000,\"open\":0.022601,\"high\":0.022601,\"low\":0.022598,\"close\":0.022598,\"volume\":6.5163},\"poloniex\":{\"timestamp\":1570662000000,\"open\":0.02252856,\"high\":0.02252856,\"low\":0.02252856,\"close\":0.02252856,\"volume\":0.44844577}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "22a25690-1030-4530-a77a-223c4181ebed"
            },
            {
              "name": "x-response-time",
              "value": "51.529ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "671"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BUWUnHXAoAMF3bw="
            },
            {
              "name": "etag",
              "value": "W/\"29f-G1NsCQ1PgUVNak7jRNt89lbwEEg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Wed, 09 Oct 2019 23:17:23 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 510,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
