{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "13463cf4ae429996874205e5b7225320",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/account-balances/latest"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"address\":{\"icon\":\"https://cdn.amberdata.io/images/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d.png\",\"address\":\"0x06012c8cf97bead5deae237070f9587f8e7a266d\"},\"blockchainId\":\"1c9c969065fcd1cf\",\"blockNumber\":\"8483415\",\"timestamp\":1567597319000,\"timestampNanoseconds\":0,\"value\":\"66529533383407035408\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "9e4f8a04-4398-470e-bb5e-354d02a2c101"
            },
            {
              "name": "x-response-time",
              "value": "6.231ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "376"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "ffaqFHtgoAMFfVw="
            },
            {
              "name": "etag",
              "value": "W/\"178-PkV4/404e17II5YME3UQIJ5Ml7c\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Wed, 04 Sep 2019 11:48:54 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 534,
      },
      {
        "_id": "f17abbaf320f4cbc264017844e77007c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/adoption"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 833,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"adoption\"],\"startDate\":1564963200000,\"endDate\":1567555200000},\"data\":[[1564963200000,\"27\"],[1565049600000,\"32\"],[1565136000000,\"34\"],[1565222400000,\"25\"],[1565308800000,\"48\"],[1565395200000,\"31\"],[1565481600000,\"36\"],[1565568000000,\"17\"],[1565654400000,\"36\"],[1565740800000,\"36\"],[1565827200000,\"27\"],[1565913600000,\"32\"],[1566000000000,\"31\"],[1566086400000,\"26\"],[1566172800000,\"32\"],[1566259200000,\"36\"],[1566345600000,\"41\"],[1566432000000,\"37\"],[1566518400000,\"39\"],[1566604800000,\"35\"],[1566691200000,\"22\"],[1566777600000,\[...]
