{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "be90fe0e27b53153d97e9448de87dbfe",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/addresses/0x873029fead9cc9c05860557576ca1577f420a801/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7736,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"records\":[{\"address\":\"0x935636cd4e6a52227c97e68fe2c299305bd6f705\",\"holder\":\"0x873029fead9cc9c05860557576ca1577f420a801\",\"amount\":\"3350425933291474149999999700\",\"decimals\":\"18\",\"name\":\"CCASH\",\"symbol\":\"CC\",\"isERC20\":true,\"isERC721\":false,\"isERC777\":false,\"isERC884\":false,\"isERC998\":false},{\"address\":\"0x1b089c2169e16d6635dd7a61a37a114f7ae3b44d\",\"holder\":\"0x873029fead9cc9c05860557576ca1577f420a801\",\"amount\":\"2025153733213141490000000000\",\"decimals\":\"18\",\"name\":\"We Copyright Finance\",\"symbol\":\"WECF\",\"isERC20\":true,\"isERC721\":false,\"isERC777\":false,\"isERC884\":false,\"isERC998\":false},{\"address\":\"0x2ff2b86c156583b1135c584fd940a1996fa4230b\",\"holder\":\"0x873029fead9cc9c05860557576ca1577f420a801\",\"amount\":\"1553029187000000000000000000\",\[...]
