{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "0af46f02ffb2fd14fb3b6e574c7f2d61",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/addresses/0x873029fead9cc9c05860557576ca1577f420a801/account-balances/latest"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 281,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"address\":{\"address\":\"0x873029fead9cc9c05860557576ca1577f420a801\"},\"blockchainId\":\"1c9c969065fcd1cf\",\"blockNumber\":\"7949552\",\"timestamp\":1560418112000,\"timestampNanoseconds\":0,\"value\":\"26538048708525340310\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "2690f1cd-afe7-11e9-802c-41b50e103ed7"
            },
            {
              "name": "x-response-time",
              "value": "39.481ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "281"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "dc0pSEEyoAMFszQ="
            },
            {
              "name": "etag",
              "value": "W/\"119-QhbbAzS6TFeHZyv6Vaf6/TOslVM\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 26 Jul 2019 20:51:33 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
