{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "122eb018a9bda4cc5d052c83bdeb6c49",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/information?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 468,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"balance\":\"5549614380313625070\",\"balanceIn\":\"3.0604312814885353273353e+22\",\"balanceOut\":\"3.0598763200505039648283e+22\",\"addressType\":\"contract\",\"changeInPrice\":null,\"contractTypes\":[\"ERC721\"],\"decimals\":\"0\",\"name\":\"CryptoKitties\",\"numHolders\":\"82574\",\"numTokens\":\"1824223\",\"numTransfers\":\"2606935\",\"symbol\":\"CK\",\"totalSupply\":\"1824223.0000000000000000\",\"totalValueUSD\":null,\"unitValueUSD\":null}}"
          },
            {
              "expires": "2020-02-08T00:03:56.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "sCIR7cfaTP3Bp5E7NwhDpA6RD24fUwoJ+jFx0A9Zq8TNZNkxPDA1K1vNw9qloa7IGD4eRy4rEpm/LCUjP666E6zjq+ME6gAbOo/6pINcWZnvbvCqgGzkkjNkudb8"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "0054f121-d64e-4a04-82d1-ab91456c9807"
            },
            {
              "name": "x-response-time",
              "value": "48.238ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "468"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HMMBAEP1IAMFb2g="
            },
            {
              "name": "etag",
              "value": "W/\"1d4-ZtaSfyGUDaIocKV5mW+wszyrJNU\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Sat, 01 Feb 2020 00:03:56 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 731,
      },
      {
        "_id": "193460a8e12bfbeb75f1c317e5d9993b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "includePrice",
              "value": "true"
            },
            {
              "name": "currency",
              "value": "usd"
            }
          ],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/information?includePrice=true&currency=usd&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 571,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"balance\":\"5549614380313625070\",\"balanceIn\":\"3.0604312814885353273353e+22\",\"balanceOut\":\"3.0598763200505039648283e+22\",\"addressType\":\"contract\",\"changeInPrice\":null,\"contractTypes\":[\"ERC721\"],\"decimals\":\"0\",\"name\":\"CryptoKitties\",\"numHolders\":\"82574\",\"numTokens\":\"1824223\",\"numTransfers\":\"2606935\",\"symbol\":\"CK\",\"totalSupply\":\"1824223.0000000000000000\",\"totalValueUSD\":null,\"unitValueUSD\":null,\"price\":{\"balance\":{\"currency\":\"usd\",\"quote\":\"180.160175239\",\"total\":\"999.8194992661770897953488989\"}}}}"
          },
            {
              "expires": "2020-02-08T00:03:56.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "FaETxTkIMjdD/nS9GDu+2hXnL9l3xNqO+8/IIvC60jFvHXtse55WI8uxiZFdWF4diRYJv3L3PynCXfWHDiz5vjv94ysF/l5iStEWUj81pzPQIhhkEU3atnO5rUjn"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
        [...]
