{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "1a6a581b8c35d334f8d059fa6a07f90b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/information?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 468,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"balance\":\"7048098534106117783\",\"balanceIn\":\"2.9865950462791466369898e+22\",\"balanceOut\":\"2.9858902364257360252115e+22\",\"addressType\":\"contract\",\"changeInPrice\":null,\"contractTypes\":[\"ERC721\"],\"decimals\":\"0\",\"name\":\"CryptoKitties\",\"numHolders\":\"80209\",\"numTokens\":\"1733612\",\"numTransfers\":\"2364290\",\"symbol\":\"CK\",\"totalSupply\":\"1733612.0000000000000000\",\"totalValueUSD\":null,\"unitValueUSD\":null}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "10c35651-674a-4ca9-9760-81a24416e692"
            },
            {
              "name": "x-response-time",
              "value": "51.138ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "468"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "CcrsiGaXIAMFueQ="
            },
            {
              "name": "etag",
              "value": "W/\"1d4-slHCxjpfGTQdbzigQGe3iQmy4PQ\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Thu, 31 Oct 2019 22:00:35 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 914,
      },
      {
        "_id": "3ad802456026dd0b0f19ac04d3696f30",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startDate",
              "value": "1571011200"
            },
            {
              "name": "endDate",
              "value": "1571097600"
            }
          ],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/account-balances/historical?startDate=1571011200&endDate=1571097600&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 193,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[],\"metadata\":{\"columns\":[\"address\",\"blockNumber\",\"timestamp\",\"timestampNanoseconds\",\"value\"],\"totalRecords\":0}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "6ae45eff-5dd7-4f56-ad66-4bcbf85f6c1c"
            },
            {
              "name": "x-response-time",
            [...]
