{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "df6948bf908d09844f8f2e58ad4d92ec",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "addresses",
              "value": "0x06012c8cf97bead5deae237070f9587f8e7a266d,0xce9af648a831ddf0cd6d05e3fe5787b3c7987246"
            }
          ],
          "url": "https://web3api.io/api/v1/addresses/balances?addresses=0x06012c8cf97bead5deae237070f9587f8e7a266d%2C0xce9af648a831ddf0cd6d05e3fe5787b3c7987246"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13162,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":{\"balance\":\"66537533383407035408\",\"balanceIn\":\"2.9514931484214481264274e+22\",\"balanceOut\":\"2.9448393950831074228866e+22\",\"tokens\":[{\"address\":\"0x056fd409e1d7a124bd7017459dfea2f387b6d5cd\",\"decimals\":2,\"name\":\"Gemini dollar\",\"symbol\":\"GUSD\",\"amount\":\"0\",\"timestamp\":1567472016000},{\"address\":\"0x06012c8cf97bead5deae237070f9587f8e7a266d\",\"decimals\":0,\"name\":\"CryptoKitties\",\"symbol\":\"CK\",\"amount\":\"0\",\"timestamp\":1567600210000},{\"address\":\"0x0775c81a273b355e6a5b76e240bf708701f00279\",\"decimals\":18,\"name\":\"Bulleon\",\"symbol\":\"BUL\",\"amount\":\"10\",\"timestamp\":1541208514000},{\"address\":\"0x09fe5f0236f0ea5d930197dce254d77b04128075\",\"decimals\":18,\"name\":\"Wrapped CryptoKitties\",\"symbol\":\"WCK\",\"amount\":\"0\",\"timesta[...]
