{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "d50ac913609518bdc31c738bf067b82c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "includePrice",
              "value": "true"
            },
            {
              "name": "currency",
              "value": "btc"
            }
          ],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/account-balances/latest?includePrice=true&currency=btc&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 470,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"address\":{\"icon\":\"https://cdn.amberdata.io/images/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d.png\",\"address\":\"0x06012c8cf97bead5deae237070f9587f8e7a266d\"},\"blockchainId\":\"1c9c969065fcd1cf\",\"blockNumber\":\"8699811\",\"timestamp\":1570516715000,\"timestampNanoseconds\":0,\"value\":\"6451911639511037285\",\"price\":{\"value\":{\"currency\":\"btc\",\"quote\":\"0.02207838\",\"total\":\"0.142447756903547695703574\"}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "f333513e-e04e-4ee2-8c53-784bc24c4c97"
            },
            {
              "name": "x-response-time",
              "value": "16.245ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "470"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BOyFcGH0IAMFsvQ="
            },
            {
              "name": "etag",
              "value": "W/\"1d6-SoUCjr0lPDV5RZPvjLUxx5PS5j0\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 08 Oct 2019 06:45:29 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 776,
      },
      {
        "_id": "aac0d17ba46bb6c31ff6ad263f407c74",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/account-balances/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 375,
            "text": "{\"status\":200,\"t[...]
