{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "d51a78bcceecc39c8c318ab6111b1d2a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/adoption?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 834,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"adoption\"],\"startDate\":1569888000000,\"endDate\":1572480000000},\"data\":[[1569888000000,\"18\"],[1569974400000,\"19\"],[1570060800000,\"17\"],[1570147200000,\"27\"],[1570233600000,\"25\"],[1570320000000,\"19\"],[1570406400000,\"25\"],[1570492800000,\"28\"],[1570579200000,\"43\"],[1570665600000,\"25\"],[1570752000000,\"37\"],[1570838400000,\"26\"],[1570924800000,\"40\"],[1571011200000,\"28\"],[1571097600000,\"24\"],[1571184000000,\"34\"],[1571270400000,\"39\"],[1571356800000,\"23\"],[1571443200000,\"35\"],[1571529600000,\"30\"],[1571616000000,\"28\"],[1571702400000,\"26\"],[1571788800000,\"20\"],[1571875200000,\"24\"],[1571961600000,\"31\"],[1572048000000,\"18\"],[1572134400000,\"28\"],[1572220800000,\"23\"],[1572307200000,\"138\"],[1572393600000,\"124\"],[1572480000000,\"87\"]]}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "1d1176b8-6ce4-4c7a-9d0b-69d7f8802c79"
            },
            {
              "name": "x-response-time",
              "value": "307.523ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "834"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "CcoLPF5yIAMFq5Q="
            },
            {
              "name": "etag",
              "value": "W/\"342-+uBNhPSusLPxoz3mPp6Y2QoabaU\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Thu, 31 Oct 2019 21:36:33 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1666,
      },
      {
        "_id": "eb6a454050a9ac40dea52d34c40b7596",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/adoption?timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeTy[...]
