{
  "log": {
    "_recordingName": "address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "66726fc4cdbb5ca54822223b99bc4027",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/information"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 469,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"balance\":\"66185576263724286193\",\"balanceIn\":\"2.9517360946376249123229e+22\",\"balanceOut\":\"2.9451175370112524837036e+22\",\"addressType\":\"contract\",\"changeInPrice\":null,\"contractTypes\":[\"ERC721\"],\"decimals\":\"0\",\"name\":\"CryptoKitties\",\"numHolders\":\"78868\",\"numTokens\":\"1693206\",\"numTransfers\":\"2244918\",\"symbol\":\"CK\",\"totalSupply\":\"1693206.0000000000000000\",\"totalValueUSD\":null,\"unitValueUSD\":null}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "f54d3b5f-b893-4c46-a745-26a83106bb4c"
            },
            {
              "name": "x-response-time",
              "value": "24.938ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "469"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "fg2NkHI7oAMF2gg="
            },
            {
              "name": "etag",
              "value": "W/\"1d5-BnnkSYfqtDtdqEwrNYdJ6LbxmW4\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Wed, 04 Sep 2019 22:13:55 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 731,
      },
      {
        "_id": "55450e28edb6c4d794c189f2df677d4c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "includePrice",
              "value": "true"
            },
            {
              "name": "currency",
              "value": "usd"
            }
          ],
          "url": "https://web3api.io/api/v1/addresses/0x06012c8cf97bead5deae237070f9587f8e7a266d/information?includePrice=true&currency=usd"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 574,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"balance\":\"66185576263724286193\",\"balanceIn\":\"2.9517360946376249123229e+22\",\"balanceOut\":\"2.9451175370112524837036e+22\",\"addressType\":\"contract\",\"changeInPrice\":null,\"contractTypes\":[\"ERC721\"],\"decimals\":\"0\",\"name\":\"CryptoKitties\",\"numHolders\":\"78868\",\"numTokens\":\"1693206\",\"numTransfers\":\"2244918\",\"symbol\":\"CK\",\"totalSupply\":\"1693206.0000000000000000\",\"totalValueUSD\":null,\"unitValueUSD\":null,\"price\":{\"balance\":{\"currency\":\"usd\",\"quote\":\"177.672378596\",\"total\":\"11759.3487635228525186862581752\"}}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "cc08ba1d-d735-4b19-9d1b-f0ec6bdb72ab"
            },
            {
              "name": "x-response-time",
              "value": "35.091ms"
            },
            {
              "name": "x-amzn-remap[...]
