{
  "log": {
    "_recordingName": "transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "86129dab8c22ae3bfa52ef94701867ab",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/transactions/volume?timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1294,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"numTransactions\"],\"startDate\":\"2019-09-25T00:00:00.000Z\",\"endDate\":\"2019-10-24T00:00:00.000Z\"},\"data\":[[\"2019-09-25T00:00:00.000Z\",677675],[\"2019-09-26T00:00:00.000Z\",657676],[\"2019-09-27T00:00:00.000Z\",623632],[\"2019-09-28T00:00:00.000Z\",607857],[\"2019-09-29T00:00:00.000Z\",591986],[\"2019-09-30T00:00:00.000Z\",683924],[\"2019-10-01T00:00:00.000Z\",645073],[\"2019-10-02T00:00:00.000Z\",627137],[\"2019-10-03T00:00:00.000Z\",615189],[\"2019-10-04T00:00:00.000Z\",590197],[\"2019-10-05T00:00:00.000Z\",595118],[\"2019-10-06T00:00:00.000Z\",571769],[\"2019-10-07T00:00:00.000Z\",629382],[\"20[...]
