{
  "log": {
    "_recordingName": "transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "ae8aebbcbfa80388de0c981a23b8409e",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/transactions/gas/predictions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 308,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"average\":{\"gasPrice\":1000000000,\"numBlocks\":8,\"wait\":2.1},\"fast\":{\"gasPrice\":3000000000,\"numBlocks\":3,\"wait\":0.6},\"fastest\":{\"gasPrice\":20000000000,\"numBlocks\":2,\"wait\":0.5},\"safeLow\":{\"gasPrice\":1000000000,\"numBlocks\":8,\"wait\":2.1}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "9ada5d7f-a984-11e9-b11f-e9a99d984cb4"
            },
            {
              "name": "x-response-time",
              "value": "255.516ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "308"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "dCCsyF5LoAMFung="
            },
            {
              "name": "etag",
              "value": "W/\"134-BSdg0/v+LofGNXrvYFb4W8SnSyY\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Thu, 18 Jul 2019 17:51:01 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 703,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
