{
  "log": {
    "_recordingName": "transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "7a22f955dd61582a724413731a8708d5",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/transactions/metrics/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 207,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"feesTotal\":\"924407451131244036353\",\"feesAverage\":\"38516977130468501515\",\"volumeTotal\":\"769347\",\"volumeAverage\":\"32056.125000000000\"}}"
          },
            {
              "expires": "2020-03-16T17:38:40.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "i3B72TIg+JK8xvVgNQuAdl853y024BTwp4NLWZHNlIP6sL/sUaaUPxDADcL5+nw9SBaRNMbFcW/O+H1xKPBWJv9F+IilIuIPvJnWMG+/zYrMoMhUpnOM6tTJdLgB"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "9a469b37-e6fd-4fdb-b70d-e59fc4e23d53"
            },
            {
              "name": "x-response-time",
              "value": "63.096ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "207"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "JIjNHHf6IAMF2MA="
            },
            {
              "name": "etag",
              "value": "W/\"cf-zeQFusLP11nyMOE/qI96/pygbZI\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 09 Mar 2020 17:38:40 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 427,
      },
      {
        "_id": "be4eb3f34b610508795ad0f20b718e0b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startDate",
              "value": "1583625600000"
            },
            {
              "name": "endDate",
              "value": "1583712000000"
            }
          ],
          "url": "https://web3api.io/api/v2/transactions/metrics/historical?startDate=1583625600000&endDate=1583712000000&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 9519,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"records\":[{\"timestamp\":\"2020-03-08T00:00:00.000Z\",\"feesAverage\":\"698471526909488.6350\",\"feesAverageUSD\":\"0.1642490719104008011392\",\"feesTotal\":\"16538408814162871900\",\"feesTotalUSD\":\"3889.0895246944701416445\",\"transactionsTotal\":\"23678\",\"valueAverage\":\"2406313477328075853\",\"valueAverageUSD\":\"565.8566457610836882645\",\"valueTotal\":\"56976690516174180051272\",\"valueTotalUSD\":\"13398353.6583309392979\"},{\"timestamp\":\"2020-03-08T01:00:00.000Z\",\"feesAverage\":\"561387363674862.8997\",\"feesAverageUSD\":\"0.1311821922067235881575\",\"feesTotal\":\"14008860273142528799\",\"feesTotalUSD\":\"3273.52042432658041734\",\"transactionsTotal\":\"24954\",\"valueAverage\":\"1623175067829129147\",\"valueAverageUSD\":\"379.2954339749717424425\",\"valueTotal\":\"40504710642608088746637\",\"valueTotalUSD\":\"9464938.259411445197075\"},{\"timestamp\":\"2020-03-08T02:00:00.000Z\",\[...]
