{
  "log": {
    "_recordingName": "transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "f23f89c178af763e6acd991c7cd2aba2",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/transactions/gas/predictions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 308,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"average\":{\"gasPrice\":1000000000,\"numBlocks\":4,\"wait\":0.8},\"fast\":{\"gasPrice\":3000000000,\"numBlocks\":2,\"wait\":0.4},\"fastest\":{\"gasPrice\":20000000000,\"numBlocks\":2,\"wait\":0.4},\"safeLow\":{\"gasPrice\":1000000000,\"numBlocks\":4,\"wait\":0.8}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "d4d1960e-aa63-11e9-91c4-637facca60b1"
            },
            {
              "name": "x-response-time",
              "value": "160.340ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "308"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "dFsxQE3bIAMFlOg="
            },
            {
              "name": "etag",
              "value": "W/\"134-JvRF5AeM+9l2BwPYG20/NCdJLgQ\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 19 Jul 2019 20:28:56 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 351,
      },
      {
        "_id": "f23f89c178af763e6acd991c7cd2aba2",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/transactions/gas/predictions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 308,
   [...]
