{
  "log": {
    "_recordingName": "transaction",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "f23f89c178af763e6acd991c7cd2aba2",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/transactions/gas/predictions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 313,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"average\":{\"gasPrice\":20000000000,\"numBlocks\":2,\"wait\":0.4},\"fast\":{\"gasPrice\":20000000000,\"numBlocks\":2,\"wait\":0.4},\"fastest\":{\"gasPrice\":20000000000,\"numBlocks\":2,\"wait\":0.4},\"safeLow\":{\"gasPrice\":18000000000,\"numBlocks\":70,\"wait\":14.6}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "d9293329-af24-11e9-a98e-25ee43feac23"
            },
            {
              "name": "x-response-time",
              "value": "0.948ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "313"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "dZo54H49oAMF7Ww="
            },
            {
              "name": "etag",
              "value": "W/\"139-5ddMp507j1A11QnJ38DKmoFQvIM\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Thu, 25 Jul 2019 21:40:40 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 304,
      },
      {
        "_id": "f23f89c178af763e6acd991c7cd2aba2",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/transactions/gas/predictions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 313,
   [...]
