{
  "log": {
    "_recordingName": "block",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "c2720297524db85bb4747d5f54d53674",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startDate",
              "value": "1583625600000"
            },
            {
              "name": "endDate",
              "value": "1583712000000"
            }
          ],
          "url": "https://web3api.io/api/v2/blocks/metrics/historical?startDate=1583625600000&endDate=1583712000000&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 7034,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"records\":[{\"timestamp\":\"2020-03-08T00:00:00.000Z\",\"difficultyAverage\":\"2277375132714427.5765\",\"durationAverage\":12807.1428571429,\"hashrateAverage\":181964651170140,\"issuanceTotal\":\"563000000000000000000\",\"issuanceUnit\":\"wei\",\"sizeAverage\":\"21558.797153024911\",\"transactionsTotal\":\"23678\"},{\"timestamp\":\"2020-03-08T01:00:00.000Z\",\"difficultyAverage\":\"2309545870855538.2457\",\"durationAverage\":12384.0830449827,\"hashrateAverage\":186484130963186,\"issuanceTotal\":\"578562500000000000000\",\"issuanceUnit\":\"wei\",\"sizeAverage\":\"19667.041522491349\",\"transactionsTotal\":\"24954\"},{\"timestamp\":\"2020-03-08T02:00:00.000Z\",\"difficultyAverage\":\"2307553303090845.3970\",\"durationAverage\":13584.2696629213,\"hashrateAverage\":170272957030531,\"issuanceTotal\":[...]
