{
  "log": {
    "_recordingName": "rpc",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "ae7ec0d9892deb754179778d3e1030c3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "x-amberdata-blockchain-id",
              "value": "1c9c969065fcd1cf"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_call\",\"id\":0,\"params\":[{\"from\":\"0xb60e8dd61c5d32be8058bb8eb970870f07233155\",\"to\":\"0xd46e8dd67c5d32be8058bb8eb970870f07244567\",\"gas\":\"0x76c0\",\"gasPrice\":\"0x9184e72a000\",\"value\":\"0x9184e72a\",\"data\":\"0xd46e8dd67c5d32be8d46e8dd67c5d32be8058bb8eb970870f072445675058bb8eb970870f072445675\"},\"latest\"]}"
          },
          "queryString": [
            {
              "name": "x-amberdata-blockchain-id",
              "value": "1c9c969065fcd1cf"
            }
          ],
          "url": "https://rpc.web3api.io/?x-api-key=&x-amberdata-blockchain-id=1c9c969065fcd1cf"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 38,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":0,\"result\":\"0x\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "1f304087-cb7c-4f67-9980-411eec956e86"
            },
            {
              "name": "x-response-time",
              "value": "19.456ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "38"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Ai-39E8oIAMF3Nw="
            },
            {
              "name": "etag",
              "value": "W/\"26-t2PLCDeyKgqvYpZvK4CpWq2ttL0\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 24 Sep 2019 23:48:54 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 538,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
