{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "af94138a7650cbf54eb7e2488e8b41a3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/velocity?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2121,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"velocity\"],\"startDate\":1570233600000,\"endDate\":1572739200000},\"data\":[[1570233600000,\"0.00000000000000000000000001734052185677629422\"],[1570320000000,\"0.00000000000000000000000001410754320551291733\"],[1570406400000,\"0.00000000000000000000000002674555066045157244\"],[1570492800000,\"0.00000000000000000000000002365952558424562178\"],[1570579200000,\"0.00000000000000000000000003747316163964368666\"],[1570665600000,\"0.000000000000000000000000030419390036887228\"],[1570752000000,\"0.000000000000000000000000041000047441021916\"],[1570838400000,\"0.000000000000000[...]
