{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "e0231247e0e952d59b22a728867b0a09",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/velocity"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1405,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"velocity\"],\"startDate\":1560816000000,\"endDate\":1563321600000},\"data\":[[1560816000000,\"0.00290635712485615475\"],[1560902400000,\"0.00237682444352005635\"],[1560988800000,\"0.00194991908230528895\"],[1561075200000,\"0.00214302847756317805\"],[1561161600000,\"0.00303266767269779291\"],[1561248000000,\"0.00299805372449119014\"],[1561334400000,\"0.00284988173567696077\"],[1561420800000,\"0.00261183493397541195\"],[1561507200000,\"0.00281344600072264208\"],[1561593600000,\"0.0019559917047976754\"],[1561680000000,\"0.00137666351902400811\"],[1561766400000,\"0.00197906[...]
