{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "62763fbcb0b2b0dee15ded04fc62f75e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/velocity?timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2538,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"velocity\"],\"startDate\":\"2020-02-08T00:00:00.000Z\",\"endDate\":\"2020-03-08T00:00:00.000Z\"},\"data\":[[\"2020-02-08T00:00:00.000Z\",\"0.00000000000000000000000007641585902986163555\"],[\"2020-02-09T00:00:00.000Z\",\"0.00000000000000000000000013607901050317668177\"],[\"2020-02-10T00:00:00.000Z\",\"0.00000000000000000000000008082446628158442222\"],[\"2020-02-11T00:00:00.000Z\",\"0.00000000000000000000000007788539478043589777\"],[\"2020-02-12T00:00:00.000Z\",\"0.00000000000000000000000008993558793514484799\"],[\"2020-02-13T00:00:00.000Z\",\"0.00000000000000000000000033211507962978326219\"],[\"2020[...]
