{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "4caa37cd829cf002e059d7c8a6d23a97",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "type",
              "value": "erc777"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/rankings?type=erc777&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 114,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[],\"metadata\":{\"totalRecords\":0}}}"
          },
            {
              "expires": "2020-02-07T00:44:14.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "UwakrjkMgNwyypIejtexlLKlu658F+/IBZstka/jEhnY4PFigSxmNRCyxxGMOwgyRZT1s8vq+PIYYVZBfDLPCUGAXZ8cO2bWkdeGCg6OOi7G3yDydumrOYvolvlk"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "77078f92-822c-438b-b43a-130d9673dc19"
            },
            {
              "name": "x-response-time",
              "value": "15.526ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "114"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HI--1GuQoAMFddg="
            },
            {
              "name": "etag",
              "value": "W/\"72-Ih+WZ3MdPsVol5DDxzADeTbSrZA\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 31 Jan 2020 00:44:14 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 483,
      },
      {
        "_id": "bd1c9ecf0a1640e84df59d7a6b480307",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022"
            },
            {
              "name": "includePrice",
              "value": "true"
            },
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/holders/historical?holderAddresses=0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022&includePrice=true&timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 277,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"timestamp\":\"2017-06-22T00:00:00.000Z\",\"0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022\":{\"numTokens\":\"1973412350714668800000000000\"}}],\"metadata\":{\"columns\":[\"holder*\",\"timestamp\"],\"decimals\":\"18\"}}}"
          },
            {
              "expires": "2020-02-07T00:44:14.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "WHaOkSNF49cb9gUQIb9Rc4z9Vls2lhWvQPW+54Gy54VtQMlvcODfJGqGj9FwUxbBTk9y43OKU3errG/fILWkofboSUSO6hynRIKkwhpmUq4C9gbfe1PTO7xH0m29"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
       [...]
