{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "843784bd26877cf01b7692fc0ce05df0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/volume?timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1250,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"volume\"],\"startDate\":\"2020-01-01T00:00:00.000Z\",\"endDate\":\"2020-01-30T00:00:00.000Z\"},\"data\":[[\"2020-01-01T00:00:00.000Z\",\"113\"],[\"2020-01-02T00:00:00.000Z\",\"136\"],[\"2020-01-03T00:00:00.000Z\",\"124\"],[\"2020-01-04T00:00:00.000Z\",\"104\"],[\"2020-01-05T00:00:00.000Z\",\"75\"],[\"2020-01-06T00:00:00.000Z\",\"196\"],[\"2020-01-07T00:00:00.000Z\",\"173\"],[\"2020-01-08T00:00:00.000Z\",\"167\"],[\"2020-01-09T00:00:00.000Z\",\"142\"],[\"2020-01-10T00:00:00.000Z\",\"176\"],[\"2020-01-11T00:00:00.000Z\",\"121\"],[\"2020-01-12T00:00:00.000Z\",\"84\"],[\"2020-01-13T00:00:00.000Z\",\"117\"],[\"2020-01-14T00:00:00.000Z\",\"210\"],[\"2020-01-15T00:00:00.000Z\",\"221\"],[\"2020-01-16T00:00:00.000Z\",\"158\"],[\"2020-01-17T00:00:00.000Z\",\"146\"],[\"2020-01-18T00:00:00.000Z\",\"115\"],[\"2020-01-19T00:00:00.000Z\",\"191\"],[\"2020-01-20T00:00:00.000Z\",\"109\"],[\"2020-01-21T00:00:00.000Z\",\"217\"],[\"2020-01-22T00:00:00.000Z\",\"98\"],[\"2020-01-23T00:00:00.000Z\",\"117\"],[\"2020-01-24T00:00:00.000Z\",\"105\"],[\"2020-01-25T00:00:00.000Z\",\"64\"],[\"2020-01-26T00:00:00.000Z\",\"88\"],[\"2020-01-27T00:00:00.000Z\",\"161\"],[\"2020-01-28T00:00:00.000Z\",\"105\"],[\"2020-01-29T00:00:00.000Z\",\"111\"],[\"2020-01-30T00:00:00.000Z\",\"228\"]]}}"
          },
            {
              "expires": "2020-02-07T20:50:49.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "0FSC5nYAemJZ1UnxQNdFQkSWNPkEr/S7onn+5XvCb7uC79sVthRXQuZpT0aH7AfbwFj6oIgVXehn/Bi8sFbjuVk0fAqg73aR17GLvA+i8GMWuuKbx3oApVcEOVl8"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "38ae5754-0fe5-455c-aaa5-cd8cc1377c24"
            },
            {
              "name": "x-response-time",
              "value": "49.526ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "1250"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HLvudHzmoAMF4QQ="
            },
            {
              "name": "etag",
              "value": "W/\"4e2-TkJNo73hLHrENJ3BIAUGZAGRYCw\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 31 Jan 2020 20:50:49 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 887,
      },
      {
        "_id": "6f922e86c7e02b339968a57a058fa9e2",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/holders/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 25632,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"records\":[{\"tokenAddress\":\"0x744d70fdbe2ba4cf95131626614a1763df805b9e\",\"holderAddress\":\"0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022\",\"timestamp\":1534030637000,\"holderFirstTimestamp\":\"2017-06-21T11:45:21.000Z\",\"numTokens\":\"1973412350714668791397662905\",\"decimals\":\"18\"},{\"tokenAddress\":\"0x744d70fdbe2ba4cf95131626614a1763df805b9e\",\"holderAddress\":\"0x8224a4d6c8bb5aa197d87c98333e92d9999629b8\",\"timestamp\":1574840374000,\"holderFirstTimestamp\":\"2019-09-20T05:49:35.000Z\",\"numTokens\":\"1123968807445491040000000000\",\"decimals\":\"18\"},{\"tokenAddress\":\"0x744d70fdbe2ba4cf95131626614a1763df805b9e\",\"holderAddress\":\"0xf348717cfff01edc759a4e0cb198f6360975ee39\",\"timestamp\":1534030637000,\"holderFirstTimestamp\":\"2017-06-21T11:45:21.000Z\",[...]
