{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "24f6d142e199f195240942a7a7f8bbb1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/holders/historical?holderAddresses=0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 226,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"timestamp\":1498089600000,\"0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022\":1.9734123507146688e+27}],\"metadata\":{\"columns\":[\"holder*\",\"timestamp\"]}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "85d5a6ea-51d0-4c4c-808f-5d7b526cbdab"
            },
            {
              "name": "x-response-time",
              "value": "17.985ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "226"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Bn6x3E1YoAMFwEg="
            },
            {
              "name": "etag",
              "value": "W/\"e2-vvjmUNJJ2yfeqpEkcTw1c/67Rsg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 15 Oct 2019 21:47:30 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
