{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "26e8f38dd447b29ac9b87a6435a770f7",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0x873029fead9cc9c05860557576ca1577f420a801"
            }
          ],
          "url": "https://web3api.io/api/v1/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/holders/historical?holderAddresses=0x873029fead9cc9c05860557576ca1577f420a801"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 165,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[],\"metadata\":{\"columns\":[\"holder*\",\"timestamp\"],\"startDate\":\"N/A\",\"endDate\":\"N/A\"}}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "b4864adb-b248-11e9-bc33-a75f9cd79540"
            },
            {
              "name": "x-response-time",
              "value": "35.701ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "165"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "dmzzzG4jIAMFh-Q="
            },
            {
              "name": "etag",
              "value": "W/\"a5-uAScCwJBI9boK7iLTqy1bXbDS3c\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 29 Jul 2019 21:34:54 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 491,
      },
      {
        "_id": "5559e8455f0296fe17da62a0a43e06a3",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/volume"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
[...]
