{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "6bea4f27ebc1e902a26bef416617fa64",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "type",
              "value": "erc777"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/rankings?type=erc777&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 114,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[],\"metadata\":{\"totalRecords\":0}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "b6d30a91-3fcd-4418-b768-b01d06d83773"
            },
            {
              "name": "x-response-time",
              "value": "31.427ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "114"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "CpbWTGtEoAMFoDg="
            },
            {
              "name": "etag",
              "value": "W/\"72-Ih+WZ3MdPsVol5DDxzADeTbSrZA\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 04 Nov 2019 18:48:46 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1621,
      },
      {
        "_id": "24f6d142e199f195240942a7a7f8bbb1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/holders/historical?holderAddresses=0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 226,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"timestamp\":1498089600000,\"0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022\":1.9734123507146688e+27}],\"metadata\":{\"columns\":[\"holder*\",\"timestamp\"]}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "baa524a1-0103-41b4-9f17-4c678c7c8704"
            },
            {
              "name": "x-re[...]
