{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "7854cbe4c0a11f94974000583590d424",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0x06012c8cf97bead5deae237070f9587f8e7a266d"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/holders/historical?holderAddresses=0x06012c8cf97bead5deae237070f9587f8e7a266d&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2380,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"timestamp\":1567900800000,\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":0},{\"timestamp\":1567987200000,\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":0},{\"timestamp\":1568073600000,\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":0},{\"timestamp\":1568160000000,\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":0},{\"timestamp\":1568246400000,\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":0},{\"timestamp\":1568332800000,\"0x06012c8cf97bead5deae237070f9587f8e7a266d\":0},{\"timestamp\":1568419200000,\"0x06012c8c[...]
