{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "4caa37cd829cf002e059d7c8a6d23a97",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "type",
              "value": "erc777"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/rankings?type=erc777&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 114,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[],\"metadata\":{\"totalRecords\":0}}}"
          },
            {
              "expires": "2020-03-16T17:27:19.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "I1xAe7Z9+7ALfqZZYYmsyI3lHc1rcrFTaDaShV3w3Lg5kgN4Eqvek/5Up/uDsSws8AKP/xVx153GkdhtPfWDlhl26mki8i8HMvX8MakfaZVf7dlPPA9BqOFp1k6C"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "26893975-7e76-4ebf-80a0-732625e337a4"
            },
            {
              "name": "x-response-time",
              "value": "10.287ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "114"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "JIhipGllIAMFT4A="
            },
            {
              "name": "etag",
              "value": "W/\"72-Ih+WZ3MdPsVol5DDxzADeTbSrZA\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 09 Mar 2020 17:27:19 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 363,
      },
      {
        "_id": "cf3f6d7a432f14290f7ad2f9f0fecc5a",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/tokens/rankings?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 89956,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"address\":\"0xa0b73e1ff0b80914ab6fe0444e65848c4c34450b\",\"changeInPrice\":\"-7.4546107275844376469965125482167951970000\",\"changeInPriceHourly\":\"0.0685551904256766282905579181252293925300\",\"changeInPriceDaily\":\"-7.4546107275844376469965125482167951970000\",\"changeInPriceWeekly\":\"-12.5044072008088606005381080874123607465800\",\"currentPrice\":\"0.0484876491125000000000000000000000000000\",\"decimals\":\"8\",\"isERC20\":true,\"isERC721\":false,\"isERC777\":false,\"isERC884\":false,\"isERC998\":false,\"marketCap\":\"4848764911.25000000000000000000000000000000000000000000000000000000\",\"liquidMarketCap\":\"4848764911.25000000000000000000000000000000000000000000000000000000\",\"name\":\"CRO\",\"rank\":\"1\",\"symbol\":\"CRO\",\"tradeVolume\":\"705793.11533973644593000298125000000000000000000000000000\",\"circulatingSupply\":\"100000000000.0000000000000000\",\"totalSupply\":\"100000000000.0000000000000000\",\"maxSupply\":null,\"tokenVelocity\":\"0.0000000012300000000000000000\",\"transactionVolume\":\"120\",\"uniqueAddresses\":\"52\"},{\"address\":\"0x514910771af9ca656af840dff83e8264ecf986ca\",\"changeInPrice\":\"-7.43438395142794606100\",\"changeInPriceHourly\":\"0.98768332099351040000\",\"changeInPriceDaily\":\"-7.43438395142794606100\",\"changeInPriceWeekly\":\"-9.94242873320645163900\",\"currentPrice\":\"3.8907550000000000\",\"decimals\":\"18\",\"isERC20\":true,\"isERC721\":false,\"isERC777\":false,\"isERC884\":false,\"isERC998\":false,\"marketCap\":\"3890755000.00000000000000000000000000000000\",\"liquidMarketCap[...]
