{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "5f0ef07609cc212758bce30a5fac1fe0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/supplies/latest?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 283,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"circulatingSupply\":\"6804569378.4077604720685147\",\"totalBurned\":\"6804870174.8781682461988376\",\"totalMinted\":\"13609740349.7563364923976752\",\"totalSupply\":\"6804870174.8781682461988376\",\"totalTransfers\":\"751727\"}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "62699396-66a7-4b2f-8ebb-77951696c2f0"
            },
            {
              "name": "x-response-time",
              "value": "103.854ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "283"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Cpj3PFypIAMFaIA="
            },
            {
              "name": "etag",
              "value": "W/\"11b-aOdQgrC0hcss/QCSVer4nccQ2r0\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 04 Nov 2019 19:46:54 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 300,
      },
      {
        "_id": "02e01656564ab9528ae808b229243608",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startDate",
              "value": "1571011200"
            },
            {
              "name": "endDate",
              "value": "1571097600"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/supplies/historical?startDate=1571011200&endDate=1571097600&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 385,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"numHolders\",\"circulatingSupply\",\"totalSupply\"],\"startDate\":1571011200000,\"endDate\":1571097600000},\"data\":[[1571011200000,69228,\"6804870174878168246198837603\",\"6804870174878168246198837603\"],[1571097600000,69238,\"6804870174878168246198837603\",\"6804870174878168246198837603\"]]}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
           [...]
