{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "d6ac18edd37892c6374c44d6cd5bcb25",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/tokens/rankings?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 90407,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"address\":\"0xa0b73e1ff0b80914ab6fe0444e65848c4c34450b\",\"changeInPrice\":\"1.6430884778714268205786780036550750953000\",\"changeInPriceHourly\":\"-0.1064569839515016736929710055505139235700\",\"changeInPriceDaily\":\"1.6430884778714268205786780036550750953000\",\"changeInPriceWeekly\":\"12.7072489496396113451417401609939738038700\",\"currentPrice\":\"0.0586551510600000000000000000000000000000\",\"decimals\":\"8\",\"isERC20\":true,\"isERC721\":false,\"isERC777\":false,\"isERC884\":false,\"isERC998\":false,\"marketCap\":\"5865515106.00000000000000000000000000000000000000000000000000000000\",\"liquidMarketCap\":\"5865515106.00000000000000000000000000000000000000000000000000000000\",\"name\":\"CRO\",\"rank\":\"1\",\"symbol\":\"CRO\",\"tradeVolume\":\"72428.81264914593560082829800000000000000000000000000000\",\"circulatingSupply\":\"100000000000.0000000000000000\",\"totalSupply\":\"100000000000.0000000000000000\",\"maxSupply\":null,\"tokenVelocity\":\"0.0000000022400000000000000000\",\"transactionVolume\":\"214\",\"uniqueAddresses\":\"83\"},{\"address\":\"0xc324a2f6b05880503444451b8b27e6f9e63287cb\",\"changeInPrice\":\"-0.8017541067607978266387782576629612648300\",\"changeInPriceHourly\":\"-0.4648820710865872540656881790172277040600\",\"changeInPriceDaily\":\"-0.8017541067607978266387782576629612648300\",\"changeInPriceWeekly\":\"-3.4522784274194476550711659773032946804800\",\"currentPrice\":\"1.2927020672800000000000000000000000000000\",\"decimals\":\"18\",\"isERC20\":true,\"isERC721\":false,\"isERC777\":false,\"isERC884\"[...]
