{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "22a8fa038621fb6f42ace69a7dda5c3f",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/volume"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 870,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"volume\"],\"startDate\":1561507200000,\"endDate\":1564012800000},\"data\":[[1561507200000,\"4633\"],[1561593600000,\"3221\"],[1561680000000,\"2267\"],[1561766400000,\"3259\"],[1561852800000,\"2530\"],[1561939200000,\"3234\"],[1562025600000,\"2296\"],[1562112000000,\"1787\"],[1562198400000,\"3722\"],[1562284800000,\"2918\"],[1562371200000,\"13626\"],[1562457600000,\"9365\"],[1562544000000,\"3395\"],[1562630400000,\"3826\"],[1562716800000,\"2873\"],[1562803200000,\"2330\"],[1562889600000,\"1595\"],[1562976000000,\"1960\"],[1563062400000,\"2808\"],[1563148800000,\"1694\"[...]
