{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "22a8fa038621fb6f42ace69a7dda5c3f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/volume"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 868,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"volume\"],\"startDate\":1566172800000,\"endDate\":1568678400000},\"data\":[[1566172800000,\"4452\"],[1566259200000,\"2422\"],[1566345600000,\"1857\"],[1566432000000,\"1730\"],[1566518400000,\"2143\"],[1566604800000,\"2554\"],[1566691200000,\"1734\"],[1566777600000,\"1210\"],[1566864000000,\"1444\"],[1566950400000,\"1694\"],[1567036800000,\"1048\"],[1567123200000,\"2669\"],[1567209600000,\"4795\"],[1567296000000,\"4501\"],[1567382400000,\"3384\"],[1567468800000,\"2836\"],[1567555200000,\"2168\"],[1567641600000,\"1813\"],[1567728000000,\"1834\"],[1567814400000,\"1431\"],[1567900800000,\"1413\"],[1567987200000,\"1429\"],[1568073600000,\"997\"],[1568160000000,\"1043\"],[1568246400000,\"1170\"],[1568332800000,\"1019\"],[1568419200000,\"3539\"],[1568505600000,\"2828\"],[1568592000000,\"1337\"],[1568678400000,\"1544\"]]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "ce074fab-a116-4245-8742-2e575e7f3c13"
            },
            {
              "name": "x-response-time",
              "value": "79.423ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "868"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "AOy3PGulIAMFoQg="
            },
            {
              "name": "etag",
              "value": "W/\"364-rL+RmrpuKwqrBsaHPADXkEVtvHc\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Wed, 18 Sep 2019 20:48:46 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 271,
      },
      {
        "_id": "b503235e87489923287d7094ad411c04",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/tokens/0x06012c8cf97bead5deae237070f9587f8e7a266d/velocity"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1409,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\[...]
