{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "24f6d142e199f195240942a7a7f8bbb1",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/holders/historical?holderAddresses=0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 226,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"timestamp\":1498089600000,\"0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022\":1.9734123507146688e+27}],\"metadata\":{\"columns\":[\"holder*\",\"timestamp\"]}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "76616358-f650-4407-a0c8-37c4f5237ff2"
            },
            {
              "name": "x-response-time",
              "value": "80.792ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "226"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "Cpnt-H61oAMF7Xw="
            },
            {
              "name": "etag",
              "value": "W/\"e2-vvjmUNJJ2yfeqpEkcTw1c/67Rsg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 04 Nov 2019 20:13:13 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 350,
      },
      {
        "_id": "d9f89d4beda9ca4d55b4c4b8c005b2a0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "holderAddresses",
              "value": "0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022"
            },
            {
              "name": "includePrice",
              "value": "true"
            },
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/holders/historical?holderAddresses=0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022&includePrice=true&timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 261,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"data\":[{\"timestamp\":\"2017-06-22T00:00:00.000Z\",\"0xbbf0cc1c63f509d48a4674e270d26d80ccaf6022\":{\"numTokens\":\"1973412350714668800000000000\"}}],\"metadata\":{\"columns\":[\"holder*\",\"timestamp\"]}}}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "6038ba90-ef10-4a6a-845e-993b1db5[...]
