{
  "log": {
    "_recordingName": "token",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "cf863611cb4304190983a4147ca394c3",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/volume?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 835,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"volume\"],\"startDate\":1578182400000,\"endDate\":1580688000000},\"data\":[[1578182400000,\"75\"],[1578268800000,\"196\"],[1578355200000,\"173\"],[1578441600000,\"167\"],[1578528000000,\"142\"],[1578614400000,\"176\"],[1578700800000,\"121\"],[1578787200000,\"84\"],[1578873600000,\"117\"],[1578960000000,\"210\"],[1579046400000,\"221\"],[1579132800000,\"158\"],[1579219200000,\"146\"],[1579305600000,\"115\"],[1579392000000,\"191\"],[1579478400000,\"109\"],[1579564800000,\"217\"],[1579651200000,\"98\"],[1579737600000,\"117\"],[1579824000000,\"105\"],[1579910400000,\"64\"],[1579996800000,\"88\"],[1580083200000,\"161\"],[1580169600000,\"105\"],[1580256000000,\"111\"],[1580342400000,\"228\"],[1580428800000,\"179\"],[1580515200000,\"672\"],[1580601600000,\"1428\"],[1580688000000,\"289\"]]}}"
          },
            {
              "expires": "2020-02-11T22:10:59.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "kZn15vBXz3zp4LeBaVw8Y5zOcMPOJqi/XY4nLu7e6CYhRXWSR87DgxpUxx0QOPQrO5jC15tOsnrOXf2Q08nTmb2DxhAk1OHzHNuKtsoBLBrCdt5Kk1x4QLZvqWX1"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "0443b241-80aa-4ccc-a49b-4bf1429d4675"
            },
            {
              "name": "x-response-time",
              "value": "12.189ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "835"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HZHOFE2KoAMF75w="
            },
            {
              "name": "etag",
              "value": "W/\"343-rcfBcfV7o9CJ5vp7GYkrECQsryw\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 04 Feb 2020 22:10:59 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 215,
      },
      {
        "_id": "4c07e1806ff1073536c7214ab60cc04e",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "startDate",
              "value": "1571011200"
            },
            {
              "name": "endDate",
              "value": "1571097600"
            },
            {
              "name": "timeFormat",
              "value": "iso"
            }
          ],
          "url": "https://web3api.io/api/v2/tokens/0x744d70fdbe2ba4cf95131626614a1763df805b9e/supplies/historical?startDate=1571011200&endDate=1571097600&timeFormat=iso&x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 453,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":{\"metadata\":{\"columns\":[\"timestamp\",\"numHolders\",\"circulatingSupply\",\"totalSupply\"],\"startDate\":\"2019-10-14T00:00:00.000Z\",\"endDate\":\"2019-10-15T00:00:00.000Z\",\"decimals\":\"18\"},\"data\":[[\"2019-10-14T00:00:00.000Z\",69228,\"6804870174878168246198837603\",\"6804870174878168246198837603\"],[\"2019-10-15T00:00:00.000Z\",69238,\"6804870174878168246198837603\",\"6804870174878168246198837603\"]]}}"
          },
            {
              "expires": "2020-02-11T22:10:59.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "njMd8kfBkEzpv4k0392sCVuKT0KmrfyyaKEoAsuUf[...]
