{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "6a63b7fa51b51f018dc656cef28953c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0x3d7d3f5a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 295,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0x3d7d3f5ab1b3b4946cf6ce26758c354d9eb67adf6a0432ce7ec60ddc563202e4\",\"hexadecimalSignature\":\"0x3d7d3f5a\",\"numParameters\":4,\"textSignature\":\"createSaleAuction(uint256,uint256,uint256,uint256)\"}]}"
          },
            {
              "expires": "2020-02-11T22:10:59.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "3/YOk50pzll/JlNy5s1TYwM8iIzJgHvtEcQ4qvBbaLuwMj3V5ksDWsVcoF5LJbaGOVC3I47hWpiRg97TwHvYGdZfbyayZRaBnTjn7H8X7Ki/iScfcLS5aiUoGXBT"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "e758b841-07a4-4138-8d1e-82c3631dad64"
            },
            {
              "name": "x-response-time",
              "value": "6.153ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "295"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HZHOAEclIAMFW1Q="
            },
            {
              "name": "etag",
              "value": "W/\"127-B6FEkb5Db7uuTR/oTAZ2EqfORKg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 04 Feb 2020 22:10:59 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 324,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
