{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "6ea7a3f3d076e0b9bd6cbdafcc3e2597",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/signatures/0xe2f0a05a"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 282,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0xe2f0a05a7dfb6af94ccaa246f780bf8b96a0c98efb8a48e33bd347addaa71d42\",\"hexadecimalSignature\":\"0xe2f0a05a\",\"numParameters\":4,\"textSignature\":\"TokenCLC(uint256,string,uint8,string)\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "3169bb97-302b-475d-8e5c-318bb056f4b1"
            },
            {
              "name": "x-response-time",
              "value": "7.693ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "282"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "fglJmE-AoAMFbjA="
            },
            {
              "name": "etag",
              "value": "W/\"11a-J/h5Ote302XQH1HQ35hHvSM3AHw\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Wed, 04 Sep 2019 20:17:27 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 12002,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
