{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "23d3845b1f264218149cee0cd0caa3f8",
        "request": {
          "headers": [
            {
              "name": "x-api-key",
              "value": "API_KEY"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v1/signatures/0xe2f0a05a"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 282,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0xe2f0a05a7dfb6af94ccaa246f780bf8b96a0c98efb8a48e33bd347addaa71d42\",\"hexadecimalSignature\":\"0xe2f0a05a\",\"numParameters\":4,\"textSignature\":\"TokenCLC(uint256,string,uint8,string)\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "562b548b-afcc-11e9-ac6d-47037890ae8d"
            },
            {
              "name": "x-response-time",
              "value": "46.864ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "282"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "dcYh1EILoAMFV0A="
            },
            {
              "name": "etag",
              "value": "W/\"11a-J/h5Ote302XQH1HQ35hHvSM3AHw\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 26 Jul 2019 17:39:36 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
