{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "6a63b7fa51b51f018dc656cef28953c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0x3d7d3f5a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 295,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0x3d7d3f5ab1b3b4946cf6ce26758c354d9eb67adf6a0432ce7ec60ddc563202e4\",\"hexadecimalSignature\":\"0x3d7d3f5a\",\"numParameters\":4,\"textSignature\":\"createSaleAuction(uint256,uint256,uint256,uint256)\"}]}"
          },
            {
              "expires": "2020-03-16T17:38:33.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "jmE1DjLQS2nlse3Spxrp7VbGvdMU2fVdZ53M+KRFPmIpmmDAb8GxeSoLkZ00IyOZ1NlD9IROksm1R4jJiGtQBABRXJF5vqEFLPTL4PeC5s7f1nBvcUvtzwxkXp4P"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "69752949-2a79-4676-a321-95266074ef03"
            },
            {
              "name": "x-response-time",
              "value": "17.914ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "295"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "JIjMDGXYIAMFgKg="
            },
            {
              "name": "etag",
              "value": "W/\"127-B6FEkb5Db7uuTR/oTAZ2EqfORKg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Mon, 09 Mar 2020 17:38:33 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 203,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
