{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "6a63b7fa51b51f018dc656cef28953c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0x3d7d3f5a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 295,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0x3d7d3f5ab1b3b4946cf6ce26758c354d9eb67adf6a0432ce7ec60ddc563202e4\",\"hexadecimalSignature\":\"0x3d7d3f5a\",\"numParameters\":4,\"textSignature\":\"createSaleAuction(uint256,uint256,uint256,uint256)\"}]}"
          },
            {
              "expires": "2020-02-07T00:44:14.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "0IwflDUzjxIzvgFlKZoUq6iJUzTkSWrE9cuY3hhpLk55KUSER36yebCkV7ZyngrzH5Q9Sp+BAd1zs0kVR7Qlvabt7Cyr5P9v0kfxpo2n1c3gZZqEeReb4bppOVTx"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "a1d48e54-c9bf-4f53-9caf-a8fbfcb6021d"
            },
            {
              "name": "x-response-time",
              "value": "6031.387ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "295"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HI--xHwaoAMFiTQ="
            },
            {
              "name": "etag",
              "value": "W/\"127-B6FEkb5Db7uuTR/oTAZ2EqfORKg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 31 Jan 2020 00:44:20 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 6656,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
