{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.2"
    },
    "entries": [
      {
        "_id": "6a63b7fa51b51f018dc656cef28953c0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0x3d7d3f5a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 295,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0x3d7d3f5ab1b3b4946cf6ce26758c354d9eb67adf6a0432ce7ec60ddc563202e4\",\"hexadecimalSignature\":\"0x3d7d3f5a\",\"numParameters\":4,\"textSignature\":\"createSaleAuction(uint256,uint256,uint256,uint256)\"}]}"
          },
            {
              "expires": "2020-02-07T20:50:46.000Z",
              "name": "AWSALBCORS",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "uIqobDDdM6MAIh9Rfh1PLwecigE0uyOPuRcemsZ6MYDXeo3W44Ka/dhK4aUumHBGewhMOWWZfConnrgZMYeZ47Bsfoj9YuxU31sxBy7UOO3jNieBfqwXGvbpzEaA"
            }
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "80e73843-876e-4fd6-b326-e1a87749b7eb"
            },
            {
              "name": "x-response-time",
              "value": "13.579ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "295"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "HLvt-FKioAMFd2w="
            },
            {
              "name": "etag",
              "value": "W/\"127-B6FEkb5Db7uuTR/oTAZ2EqfORKg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Fri, 31 Jan 2020 20:50:46 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1612,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
