{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "4471f38f4456bcefd3a52ee0248276ba",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0xe2f0a05a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 282,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0xe2f0a05a7dfb6af94ccaa246f780bf8b96a0c98efb8a48e33bd347addaa71d42\",\"hexadecimalSignature\":\"0xe2f0a05a\",\"numParameters\":4,\"textSignature\":\"TokenCLC(uint256,string,uint8,string)\"}]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "af8f9124-8dc9-467f-b871-fda2d32251de"
            },
            {
              "name": "x-response-time",
              "value": "4.530ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "282"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "BOyGhFnIIAMFxNQ="
            },
            {
              "name": "etag",
              "value": "W/\"11a-J/h5Ote302XQH1HQ35hHvSM3AHw\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Tue, 08 Oct 2019 06:45:36 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 762,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
