{
  "log": {
    "_recordingName": "signature",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "c1eed826d36016f8aa9bbc4ee94388c9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0x3d7d3f5a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 295,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\"payload\":[{\"fullHexadecimalSignature\":\"0x3d7d3f5ab1b3b4946cf6ce26758c354d9eb67adf6a0432ce7ec60ddc563202e4\",\"hexadecimalSignature\":\"0x3d7d3f5a\",\"numParameters\":4,\"textSignature\":\"createSaleAuction(uint256,uint256,uint256,uint256)\"}]}"
          },
          ],
          "headers": [
            {
              "name": "hasprop"
            },
            {
              "name": "values"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-amzn-requestid",
              "value": "f51e2bd3-b3d4-457e-b020-f0f7e0ced776"
            },
            {
              "name": "x-response-time",
              "value": "20.973ms"
            },
            {
              "name": "x-amzn-remapped-content-length",
              "value": "295"
            },
            {
              "name": "x-amzn-remapped-connection",
              "value": "keep-alive"
            },
            {
              "name": "x-amz-apigw-id",
              "value": "CzTxKGOBIAMFctg="
            },
            {
              "name": "etag",
              "value": "W/\"127-B6FEkb5Db7uuTR/oTAZ2EqfORKg\""
            },
            {
              "name": "x-amzn-remapped-date",
              "value": "Thu, 07 Nov 2019 18:46:05 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 4044,
      },
      {
        "_id": "c1eed826d36016f8aa9bbc4ee94388c9",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://web3api.io/api/v2/signatures/0x3d7d3f5a?x-api-key="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 295,
            "text": "{\"status\":200,\"title\":\"OK\",\"description\":\"Successful request\",\[...]
